Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile

Refactor: 불필요한 Suspense 및 LoadingFallback 컴포넌트 제거 및 코드 스타일 개선
  frontend/src/app/feedback/[id]/page.tsx
  frontend/src/app/feedback/new/page.tsx
Due: build_frontend

fix: API 호출 시 문자열 표기법을 일관되게 작은 따옴표로 변경 및 localhost URL 제거
  frontend/src/lib/comment-api.ts
  frontend/src/lib/feedback-api.ts
Due: build_frontend

Feat: API 구성 추가 및 디버깅 로그 추가
  frontend/src/app/api/feedback/[id]/route.ts
  frontend/src/lib/comment-api.ts
  frontend/src/lib/feedback-api.ts
Due: build_frontend

Feat: Post API 통합 및 ID 검증 추가, API 호출 로직 개선
  frontend/src/app/api/comment/[id]/route.ts
  frontend/src/app/api/feedback/[id]/route.ts
  frontend/src/lib/feedback-api.ts
Due: build_frontend

`Refactor: API 호출 URL을 환경 변수 기반으로 변경하여 유연성과 보안 강화`
  frontend/src/lib/comment-api.ts
  frontend/src/lib/feedback-api.ts
Due: build_frontend

Refactor: 개발 환경에서 API 호출 URL을 로컬 호스트로 변경
  frontend/src/lib/comment-api.ts
  frontend/src/lib/feedback-api.ts
Due: build_frontend

Feat: API 요청 매처에 posts 및 comments 경로 추가
  backend/ExampleService/src/main/resources/application.yaml
Due: build_backend

Refactor: PostGetFacade 리팩토링 및 application.yaml 엔드포인트 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/PostGetFacade.java
  backend/ExampleService/src/main/resources/application.yaml
Due: build_backend

`Fix: fetch URL 경로 수정 (posts → feedback 및 comment)`
  frontend/src/lib/comment-api.ts
  frontend/src/lib/feedback-api.ts
Due: build_frontend

Feat: API URL에 SPRING_FRONT_REDIRECT_URI 환경 변수 적용
  frontend/src/lib/comment-api.ts
  frontend/src/lib/feedback-api.ts
Due: build_frontend

Refactor: API 경로 정리 및 통일성 개선
  frontend/src/lib/comment-api.ts
  frontend/src/lib/feedback-api.ts
Due: build_frontend

Refactor: API 요청 URL 구성을 위한 유틸 함수 추가 및 기존 API 호출 로직 수정
  frontend/src/app/feedback/[id]/page.tsx
  frontend/src/app/utils/serverUtil.ts
  frontend/src/components/feedback/FeedbackBoard.tsx
  frontend/src/lib/comment-api.ts
  frontend/src/lib/feedback-api.ts
Due: build_frontend

Remove: 댓글의 하위 답글(replies) 관련 속성과 매핑 제거
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Comment.java
  docs/components/schemas/comment-schema.yaml
Due: build_backend

Remove: 댓글 응답(replies) 기본값 설정 코드 제거
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/CommentOut.java
Due: build_backend

Refactor: PostController에서 조회 수 증가 처리 로직 제거
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/PostController.java
Due: build_backend

Remove: 피드백 게시판 및 상세 보기 관련 컴포넌트 제거 (FeedbackBoard, FeedbackDetail)
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/comment/[id]/route.ts
  frontend/src/app/api/feedback/[id]/route.ts
  frontend/src/app/feedback/[id]/page.tsx
  frontend/src/app/feedback/new/page.tsx
  frontend/src/app/feedback/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/alert/AlertLogin.tsx
  frontend/src/components/feedback/FeedbackBackButton.tsx
  frontend/src/components/feedback/FeedbackDetail.tsx
  frontend/src/components/feedback/comment/FeedbackComment.tsx
  frontend/src/components/feedback/detail/FeedbackDetail.tsx
  frontend/src/components/feedback/detail/FeedbackHeader.tsx
  frontend/src/components/feedback/detail/FeedbackVote.tsx
  frontend/src/components/feedback/list/FeedbackBoard.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/lib/comment-api.ts
  frontend/src/lib/feedback-api.ts
  frontend/src/lib/utils.ts
  frontend/src/store/useFeedbackStore.ts
  frontend/src/util/dayjs.ts
  frontend/src/util/serverUtil.ts
  frontend/tailwind.config.js
Due: build_frontend

Refactor: 댓글 관련 타입 변경 및 적용 코드 수정
  frontend/src/components/feedback/detail/FeedbackDetail.tsx
  frontend/src/lib/comment-api.ts
Due: build_frontend

Refactor: Promise 처리 방식을 `Promise.all`에서 `Promise.allSettled`로 변경 및 next.config.ts 코드 스타일 개선
  frontend/next.config.ts
  frontend/src/app/feedback/[id]/page.tsx
Due: build_frontend

Fix: 댓글 API 응답 데이터 및 에러 처리 수정
  frontend/src/app/api/comment/[id]/route.ts
Due: build_frontend

Feat: 대댓글 조회를 위한 parentCommentId 반환 로직 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentGetFacade.java
Due: build_backend

Feat: UI/UX, alert 수정 완료
  docs/output/openapi/openapi.yaml
  frontend/.env
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/components/api-creator/right-container/ApiHeader.tsx
  frontend/src/components/api-creator/right-container/index.tsx
  frontend/src/components/canvas/ChatContainer.tsx
  frontend/src/components/canvas/DiagramContainer.tsx
  frontend/src/components/canvas/nodes/ClassNode.tsx
Due: build_frontend

Feat:UI/UX, alert 수정 완료
  frontend/.env
Due: build_frontend

Feat: 디버깅을 위한 댓글 관련 데이터 로깅 추가
  frontend/src/components/feedback/comment/FeedbackComment.tsx
  frontend/src/lib/comment-api.ts
Due: build_frontend

Fix: 피드백 및 댓글 처리 로직 수정 - 피드백 조회 실패 시 에러 메시지 오타 수정 (comments → feedback) - 댓글 조회 함수의 주석 간소화 (server-side 언급 제거) - 댓글 조회 API에서 에러 응답 형식 올바르게 수정 - parentCommentId가 null인 경우를 처리하도록 로직 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentGetFacade.java
  frontend/src/app/api/comment/[id]/route.ts
  frontend/src/app/api/feedback/[id]/route.ts
  frontend/src/lib/comment-api.ts
Due: build_backend, build_frontend

Fix: 부모 댓글 ID 생성 로직 수정 (null 안전성 확보)
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentGetFacade.java
Due: build_backend

Refactor: comment-schema의 parentCommentId에서 nullable 속성 제거
  docs/components/schemas/comment-schema.yaml
Due: none

Refactor: 댓글 컴포넌트 구조 리팩토링 및 코드 분리
  frontend/src/components/feedback/comment/FeedbackComment.tsx
  frontend/src/components/feedback/comment/FeedbackCommentForm.tsx
  frontend/src/components/feedback/comment/FeedbackCommentItem.tsx
Due: build_frontend

Commit message: Refactor: 디렉토리 구조 변경 및 파일 위치 재조정 (chat → diagram/component, diagram/connection, llm)
  ai/app/core/diagram/component/__init__.py
  ai/app/core/diagram/connection/__init__.py
  ai/app/core/llm/__init__.py
Due: none

Feat: 다이어그램 저장 및 업데이트 로깅 추가, 코드 정리 및 불필요한 공백 제거
  ai/app/infrastructure/mongodb/repository/diagram_repository.py
  ai/app/infrastructure/mongodb/repository/diagram_repository_impl.py
Due: none

Refactor: ChatService 클래스명을 ChatServiceFacade로 변경하여 명확성을 개선했습니다.
  ai/tests/unit/test_chat_service.py
  ai/tests/unit/test_convert_diagram.py
Due: none

Refactor: comment-schema에서 parentCommentId의 nullable 속성 제거
  docs/components/schemas/comment-schema.yaml
Due: none

Feat: DiagramFacade 및 ChatServiceFacade 추가 및 서비스 계층 리팩토링
  ai/app/api/chat_routes.py
  ai/app/api/diagram_routes.py
Due: none

Remove: 사용되지 않는 chat 및 diagram 관련 template 초기화 파일 제거
  ai/app/core/chat/prompt/__init__.py
  ai/app/core/chat/prompt/template/__init__.py
  ai/app/core/chat/template/__init__.py
  ai/app/core/diagram/prompt/__init__.py
  ai/app/core/diagram/prompt/template/__init__.py
Due: none

Feat: 다이어그램 서비스 기능 분리 및 ChatService 대체 로직 구현
  ai/app/core/diagram/component/component_service.py
  ai/app/core/diagram/connection/connection_service.py
  ai/app/core/diagram/diagram_service.py
  ai/app/core/llm/prompt_service.py
  ai/app/core/services/chat_service.py
  ai/app/core/services/chat_service_facade.py
  ai/app/core/services/diagram_service.py
  ai/app/core/services/sse_service.py
Due: none

Feat: 새로운 LLM 체인 로직 구현 (UserChat, Connection, Component, DTO, CreateDiagram)
  ai/app/core/llm/chains/component_chain.py
  ai/app/core/llm/chains/connection_chain.py
  ai/app/core/llm/chains/create_diagram_chain.py
  ai/app/core/llm/chains/dto_chain.py
  ai/app/core/llm/chains/user_chat_chain.py
Due: none

Refactor: 파일 경로 수정 및 불필요한 공백 제거
  ai/app/core/prompts/api_generate_prompt_template.py
  ai/app/core/prompts/few_shot_prompt_template.py
Due: none

Feat: 모델 구조 리팩토링 및 새로운 모델 분리
  ai/app/core/models/diagram_model.py
  ai/app/core/models/global_setting_model.py
  ai/app/core/models/prompt_models.py
  ai/app/core/models/user_chat_model.py
  ai/app/infrastructure/mongodb/repository/model/diagram_model.py
Due: none

Feat: LLM 프롬프트 템플릿 및 유틸리티 추가
  ai/app/core/llm/prompts/component_prompts.py
  ai/app/core/llm/prompts/connection_prompts.py
  ai/app/core/llm/prompts/create_diagram_prompt.py
  ai/app/core/llm/prompts/dto_prompts.py
  ai/app/core/llm/prompts/user_chat_prompts.py
  ai/app/utils/prompt_builder.py
Due: none

Refactor: 불필요한 공백 및 파일 끝 라인 처리 수정
  ai/app/core/prompts/message/create_diagram_human_message.py
  ai/app/core/prompts/message/create_diagram_system_message.py
Due: none

Feat: SSEStreamingHandler의 토큰 처리 로직 개선 및 message 값 추출 기능 추가
  ai/app/core/generator/streaming_handler.py
Due: none
