Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile

Feat: 댓글 좋아요/싫어요 기능 구현 및 관련 상태 관리 추가
  frontend/package-lock.json
  frontend/src/app/api/comment/[id]/route.ts
  frontend/src/app/api/comment/[id]/vote/route.ts
  frontend/src/app/api/feedback/[id]/route.ts
  frontend/src/app/feedback/[id]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/feedback/comment/FeedbackCommentContent.tsx
  frontend/src/components/feedback/detail/FeedbackDetail.tsx
  frontend/src/lib/comment-api.ts
  frontend/src/store/useFeedbackStore.ts
Due: build_frontend

Fix: 댓글 투표 API 오류 처리 로직 개선 및 AxiosError 타입 적용
  frontend/src/app/api/comment/[id]/vote/route.ts
Due: build_frontend

Feat: 본인 게시글 추천/비추천 방지 로직 추가 및 관련 에러 상태 코드 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/exception/PostErrorStatus.java
Due: build_backend

Feat: 투표 기능 개선 및 에러 처리 로직 추가
  frontend/src/app/api/feedback/[id]/vote/route.ts
  frontend/src/components/feedback/detail/FeedbackVote.tsx
  frontend/src/lib/feedback-api.ts
Due: build_frontend

Refactor: GPT-4 모델을 OPENAI_GPT4_TURBO에서 OPENAI_GPT4_1으로 변경 및 프롬프트 포맷 수정
  ai/app/api/chat_routes.py
  ai/app/api/diagram_routes.py
  ai/app/utils/prompt_builder.py
Due: none

Fix:텍스트 파일 첨부만 가능하게 하기
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  frontend/src/app/api/projects/route.ts
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/globalsetting/InfoModal.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_backend, build_frontend

Fix: Bearer 헤더 추가
  frontend/src/app/api/api-specs/[apiSpecVersionId]/route.ts
  frontend/src/app/api/api-specs/api/[apiSpecId]/route.ts
  frontend/src/app/api/api-specs/by-project/[scrudProjectId]/route.ts
  frontend/src/app/api/api-specs/route.ts
  frontend/src/app/api/canvas-api/[projectId]/[apiId]/route.ts
  frontend/src/app/api/canvas/[projectId]/[apiId]/route.ts
  frontend/src/app/api/examples/route.ts
  frontend/src/app/page.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
Due: build_frontend

Fix: console.log 제거
  frontend/src/components/api-creator/right-container/ApiHeader.tsx
  frontend/src/components/api-creator/right-container/hooks/useApiSpec.ts
  frontend/src/components/api-creator/right-container/index.tsx
  frontend/src/components/feedback/list/Pagination.tsx
Due: build_frontend

Update: defaultGlobalFile.sql
  backend/ExampleService/src/main/resources/sql/defaultGlobalFile.sql
Due: build_backend

Refactor: 사용자별 API 스펙 소유권 검증 로직 추가 및 관련 메서드 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/in/UpdateApiSpecStatusIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiDeleteFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiGetFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/exception/ApiSpecErrorStatus.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ApiSpecController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ScrudApiController.java
Due: build_backend

Refactor: 사용자별 API 스펙 소유권 검증 로직 추가 및 관련 메서드 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecVersionService.java
Due: build_backend

Fix:빌드 에러 해결 중
  frontend/src/app/project/[id]/api/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/header/globalheader.tsx
Due: build_frontend

Fix: 도식화 버튼 스타일 수정 및 error 처리 수정
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/right-container/ApiHeader.tsx
  frontend/src/components/api-creator/right-container/hooks/useApiSpec.ts
  frontend/src/components/api-creator/right-container/index.tsx
Due: build_frontend

Fix: Bearer Bearer 수정
  frontend/src/app/api/api-specs/[apiSpecVersionId]/route.ts
  frontend/src/app/api/api-specs/api/[apiSpecId]/route.ts
  frontend/src/app/api/api-specs/by-project/[scrudProjectId]/route.ts
  frontend/src/app/api/api-specs/route.ts
Due: build_frontend

Fix: fix
  docs/output/openapi/openapi.yaml
Due: none

Fix:타입 에러 해결 중...
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/store/types/project.ts
Due: build_frontend

Fix: ScrudProject 조회 시 존재하지 않을 경우 예외 처리 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecService.java
Due: build_backend

Fix:빌드 에러 해결
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
Due: build_frontend

Feat: 다이어그램 컴포넌트 생성 시 한국어 지원 추가 및 API 요청 시 헤더에 인증 토큰 포함
  ai/app/core/llm/prompts/create_diagram_component_prompt.py
  ai/app/infrastructure/http/client/api_client.py
Due: none

Fix: fix
  frontend/src/app/project/[id]/api/page.tsx
Due: build_frontend

Fix:merge 충돌 후 에러 해결
  frontend/src/app/page.tsx
Due: build_frontend

Fix:주석 해제
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  frontend/.env
Due: build_backend, build_frontend

Fix:깃허브 파일 덮어씌우기 오류 해결
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_frontend

Fix: Update import statements and format code for consistency
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/components/api-creator/right-container/index.tsx
Due: build_frontend

Replace axios with fetch for API call
  frontend/src/components/api-creator/right-container/index.tsx
Due: build_frontend

Fix: console 코드 제거
  frontend/src/app/project/[id]/api/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/right-container/ApiHeader.tsx
  frontend/src/components/api-creator/right-container/hooks/useNotification.ts
Due: build_frontend

Feat: API 스펙 버전 생성 시 사용자 ID(userId) 전달 기능 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiCreateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/usecase/ApiSpecUseCase.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/event/ApiSpecEventHandler.java
  backend/ExampleService/src/test/java/com/barcoder/scrud/apispec/application/facade/ApiCreateFacadeTest.java
Due: build_backend

Feat: SSE 파싱 및 UI개선
  docs/output/openapi/openapi.yaml
  frontend/.env
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/components/canvas/ChatContainer.tsx
  frontend/src/components/canvas/DiagramContainer.tsx
  frontend/src/components/canvas/nodes/ClassNode.tsx
  frontend/src/components/canvas/nodes/MethodNode.tsx
Due: build_frontend

Fix: env수정
  frontend/.env
Due: build_frontend

Feat: API 사양 버전 생성 시 사용자 ID 매핑 로직 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/assembler/ApiSpecVersionAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecVersionService.java
Due: build_backend

Feat: API 상태 변경 시 사용자 ID 추가 로직 구현
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ScrudApiController.java
Due: build_backend

Feat: PromptService의 get_code_data 로직 개선 및 테스트 케이스 추가
  ai/app/core/llm/prompt_service.py
  ai/tests/unit/test_prompt_service.py
Due: none

`Feat: Kafka 의존성 제거 및 RAG 기능 추가`
  ai/CLAUDE.md
Due: none

Feat: ApiSpecVersionOut에 @ToString 추가 및 batch_size 설정 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/out/ApiSpecVersionOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiCreateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecVersionService.java
  backend/ExampleService/src/main/resources/application.yaml
Due: build_backend

Refactor: 코드 스타일 및 정렬 규칙을 개선하여 일관성 유지 - 자바스크립트 및 TypeScript 파일에서 싱글 쿼트 사용으로 통일 - 세미콜론 추가로 문법 강화 - 라인 정렬 및 주석 개선으로 코드 가독성 향상
  frontend/src/app/api/api-specs/api/[apiSpecId]/route.ts
  frontend/src/app/api/canvas-api/[projectId]/[apiId]/route.ts
  frontend/src/app/api/canvas-api/[projectId]/route.ts
  frontend/src/app/api/canvas/[projectId]/[apiId]/[versionId]/route.ts
  frontend/src/app/api/canvas/[projectId]/[apiId]/route.ts
  frontend/src/app/api/chat/[projectId]/[apiId]/route.ts
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/right-container/hooks/useApiSpec.ts
  frontend/src/components/api-creator/right-container/index.tsx
Due: build_frontend

Feat: css수정
  frontend/src/app/globals.css
  frontend/src/components/canvas/edges/CustomEdge.tsx
  frontend/src/components/canvas/nodes/ClassNode.tsx
  frontend/src/components/canvas/nodes/MethodNode.tsx
Due: build_frontend

Refactor API handling and remove unused imports
  frontend/src/app/api/canvas-api/[projectId]/route.ts
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
Due: build_frontend

Feat: 채팅 요약 체인(ChatSummaryChain) 추가
  ai/app/core/llm/chains/chat_summary_chain.py
Due: none

Feat: 다이어그램 요약 기능 및 관련 체인(ChatSummaryChain) 통합
  ai/app/api/chat_routes.py
  ai/app/core/diagram/diagram_service.py
  ai/app/core/services/chat_service.py
  ai/app/core/services/chat_service_facade.py
Due: none

HotFix: github User 가져오기 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/service/CustomOAuth2UserService.java
Due: build_backend
