Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

build_backend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./backend/generated
  ...

build_frontend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./frontend/generated
  ...

Feature: API 스펙 버전 목록 조회 기능 구현
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/out/ApiSpecVersionListOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiCreateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiDeleteFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiGetFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/LatestEndpointVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/jpa/LatestEndpointVersionJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ApiSpecController.java
  docs/components/responses/api-spec-response.yaml
  docs/components/schemas/api-spec-schema.yaml
  docs/openapi.yaml
Due: build_backend

Feat: Cors 허용
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/config/security/CorsConfig.java
  backend/ExampleService/src/main/resources/application.yaml
Due: build_backend

Feat: Cors 주소 추가
  backend/ExampleService/src/main/resources/application.yaml
Due: build_backend

feat:프로젝트 생성(깃허브 파일X)
  frontend/src/app/api/v1/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/globalsetting/floatingbutton.tsx
  frontend/src/components/globalsetting/form.tsx
Due: build_frontend

Feature: rule 관련 예시 추가
  docs/components/examples/rules-example.yaml
  docs/components/schemas/rule-schema.yaml
  docs/openapi.yaml
Due: none

Merge: Github Oauth 시 이전에 있던 사이트로 돌아가게 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/config/security/SecurityConfig.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/UserPrincipal.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/controller/OAuth2Controller.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/repository/HttpSessionOAuth2AuthorizationRequestRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/service/CustomOAuth2UserService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/service/OAuth2AuthenticationSuccessHandler.java
  backend/generated/src/main/java/com/barcoder/scrud/api/.gitkeep
  backend/generated/src/main/java/com/barcoder/scrud/model/.gitkeep
  docs/components/responses/rule-response.yaml
  docs/openapi.yaml
Due: build_backend

Feat:깃허브 로그인 중
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/v1/github/oauth/githubAPI.ts
  frontend/src/app/api/v1/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/globalsetting/form.tsx
  frontend/src/store/formDataStore.ts
  frontend/src/store/githubTokenStore.ts
Due: build_frontend

Feat:깃허브 토큰 저장 + 전역 설정 리다이렉트
  frontend/src/app/api/v1/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/form.tsx
  frontend/src/store/formDataStore.ts
Due: build_frontend

Fix:Lint 에러 수정
  frontend/src/app/page.tsx
Due: build_frontend

Fix:빌드 수정
  frontend/src/app/globalsetting/page.tsx
Due: build_frontend

Feat: Spec API 연결 및 API 제작페이지 수정
  backend/ExampleService/src/main/resources/application.yaml
  development.api.sh
  frontend/next.config.ts
  frontend/public/logo.png
  frontend/src/app/api/api-specs/by-project/{scrudProjectId}/route.ts
  frontend/src/app/api/api-specs/route.ts
  frontend/src/app/api/api-specs/{apiSpecVersionId}/route.ts
  frontend/src/app/api/rules/route.ts
  frontend/src/app/apis/page.tsx
  frontend/src/app/project/api/page.tsx
  frontend/src/app/test/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/RightContainer.tsx
  frontend/src/components/api-creator/VersionContainer.tsx
  frontend/src/components/header/header.tsx
Due: build_backend, build_frontend

Feat: google-login 구현 완료
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/store/useAuthStore.ts
  frontend/src/app/utils/auth.ts
Due: build_frontend

Fix:파일구조 분리+오류 해결
  frontend/src/app/api/github/user/repos/route.ts
  frontend/src/app/api/projects/route.ts
  frontend/src/app/api/v1/github/oauth/githubAPI.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/auth/github.ts
  frontend/src/components/globalsetting/form.tsx
Due: build_frontend

Fix. 러너 변경
  .gitlab-ci.yml
Due: none

Fix. 러너 변경
  .gitlab-ci.yml
  backend/ExampleService/Dockerfile
  backend/ExampleService/build.gradle
  backend/ExampleService/src/main/resources/application.yaml
Due: build_backend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Fix: merge conflict 해결
  frontend/src/app/page.tsx
Due: build_frontend

Fix: 홈 페이지 fallback 빌드 오류 수정
  frontend/src/app/page.tsx
Due: build_frontend

HotFix: path parameter 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/controller/OAuth2Controller.java
Due: build_backend

Update: remove apiGroup property from API spec schema
  docs/components/schemas/api-spec-schema.yaml
Due: none

Update: refactor apiGroup handling in ApiSpecVersionAssembler
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/assembler/ApiSpecVersionAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/in/CreateApiSpecVersionIn.java
Due: build_backend

Feat:레포지토리 가져오기 레이아웃 구현+가져오기
  frontend/src/app/api/github/user/repos/route.ts
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/FloatingButton.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/globalsetting/InfoModal.tsx
  frontend/src/components/globalsetting/Sidebar.tsx
  frontend/src/lib/api/github.ts
Due: build_frontend

Fix:구글 로그인 토큰으로 변경
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
Due: build_frontend

Feat: chat, canvas api연동 완료
  frontend/src/app/api/canvas/[projectId]/[apiId]/[versionId]/route.ts
  frontend/src/app/api/chat/[projectId]/[apiId]/route.ts
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/components/canvas/ChatContainer.tsx
  frontend/src/components/canvas/DiagramContainer.tsx
  frontend/src/components/canvas/DtoContainer.tsx
Due: build_frontend

Update: api spec bulk 저장 테스트 및 관련 entity, 로직 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/assembler/ApiSpecVersionAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/in/CreateApiSpecVersionIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiCreateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/DeleteApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/GetApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/PatchApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/PostApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/PutApiSpecVersion.java
  backend/ExampleService/src/test/java/com/barcoder/scrud/apispec/application/facade/ApiCreateFacadeTest.java
  backend/ExampleService/src/test/resources/test-api-spec.json
Due: build_backend

Update: remove unused annotations and clean up code in CreateApiSpecVersionIn and ScrudProjectAssembler
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/in/CreateApiSpecVersionIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/assembler/ScrudProjectAssembler.java
Due: build_backend

Feat:아키텍처 구조 입력 폼 세분화
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
Due: build_frontend

Feat: 도식화 css 부분 완료
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/app/data/dummy-diagram-data.ts
  frontend/src/app/globals.css
  frontend/src/components/canvas/DiagramContainer.tsx
  frontend/src/components/canvas/DiagramInfo.tsx
  frontend/src/components/canvas/DtoContainer.tsx
  frontend/src/components/canvas/edges/CustomEdge.tsx
  frontend/src/components/canvas/nodes/ClassNode.tsx
  frontend/src/components/canvas/nodes/InterfaceNode.tsx
  frontend/src/components/canvas/nodes/MethodNode.tsx
Due: build_frontend

Feat: 도식화 css 보완중
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/components/canvas/DiagramContainer.tsx
  frontend/src/components/canvas/nodes/MethodNode.tsx
Due: build_frontend

feat. docker infra 설정 추가
  ai/.dockerignore
  ai/.gitignore
  ai/Dockerfile
  ai/app/config/config.py
  infra/docker/docker-compose.dev.db.yaml
Due: none

Feat: api-creator-connect
  frontend/src/app/api/api-specs/[apiSpecVersionId]/route.ts
  frontend/src/app/api/api-specs/by-project/[scrudProjectId]/route.ts
  frontend/src/app/api/api-specs/by-project/{scrudProjectId}/route.ts
  frontend/src/app/api/api-specs/route.ts
  frontend/src/app/api/api-specs/{apiSpecVersionId}/route.ts
  frontend/src/app/api/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/RightContainer.tsx
  infra/docker/docker-compose.yaml
Due: build_frontend

feat. CICD AI 서버 추가
  .gitlab-ci.yml
Due: none

Feat:깃허브 토큰 유효성 검사 로직 추가
  frontend/src/app/api/github/repos/{깃허브계정뭐지}/{name}/commits/route.ts
  frontend/src/app/api/projects/route.ts
  frontend/src/app/api/projects/{projectId}/{globalFileId}/route.ts
  frontend/src/components/globalsetting/Form.tsx
Due: build_frontend

Fix: 빌드 실패 수정
  frontend/src/app/api/api-specs/[apiSpecVersionId]/route.ts
Due: build_frontend

Fix: 빌드 실패 수정
  frontend/src/app/api/api-specs/by-project/[scrudProjectId]/route.ts
Due: build_frontend

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile
