Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile

Update. 스키마 생성 방식 수정
  generator/spring-custom-generator/custom-codegen/model.mustache
  generator/spring-custom-generator/custom-codegen/pojo.mustache
Due: none

Update. 예시 API 명세서 수정
  docs/components/responses/exception-response.yaml
  docs/components/schemas/example-schema.yaml
Due: none

Update. 예시 API 명세서 수정
  docs/components/schemas/exception-schema.yaml
Due: none

Feat: 캔버스 API 추가
  docs/components/schemas/canvas-schema.yaml
  docs/openapi.yaml
Due: none

Feat: 캔버스 API 추가
  docs/canvasapi.yaml
Due: none

Feat: Swagger API 명세서 서버 추가
  development.api.sh
  infra/docker/docker-compose.yaml
Due: none

Feat: 환경 변수 관리 코드 추가
  backend/ExampleService/build.gradle
  backend/ExampleService/src/main/resources/application.yaml
Due: build_backend

Feat: Swagger ui 관련 기능 추가
  infra/docker/docker-compose.yaml
Due: none

Docs. 도식화 관련 API 명세서 추가
  docs/canvasapi.yaml
  docs/components/examples/canvas-example.yaml
  docs/components/responses/exception-response.yaml
  docs/components/schemas/canvas-schema.yaml
  docs/openapi.yaml
Due: none

Fix: tailwindcss 형식으로 변경
  backend/generated/pom.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/postcss.config.mjs
  frontend/src/app/globals.css
  frontend/src/app/page.module.css
  frontend/src/app/page.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/project-card/new-project-card.tsx
  frontend/src/components/project-card/project-card.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.json
Due: build_backend, build_frontend

Update. scrud yaml 추가
  docs/components/responses/exception-response.yaml
  docs/components/responses/scrud-project-response.yaml
  docs/components/responses/success-response.yaml
  docs/components/schemas/scrud-project-dto.yaml
  docs/openapi.yaml
Due: none

Update. scrud yaml
  docs/openapi.yaml
Due: none

Feat: API 제작 페이지 레이아웃
  frontend/src/app/project/[id]/page.module.css
  frontend/src/app/project/[id]/page.tsx
  frontend/src/app/project/api/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/RightContainer.tsx
  frontend/src/components/header/header.tsx
Due: build_frontend

Fix:전역설정 테일윈드 css 로 변경
  frontend/src/app/globals.css
  frontend/src/app/globalsetting/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/globalsetting/contentarea.module.css
  frontend/src/components/globalsetting/contentarea.tsx
  frontend/src/components/globalsetting/floatingbutton.module.css
  frontend/src/components/globalsetting/floatingbutton.tsx
  frontend/src/components/globalsetting/form.module.css
  frontend/src/components/globalsetting/form.tsx
  frontend/src/components/globalsetting/infomodal.module.css
  frontend/src/components/globalsetting/infomodal.tsx
  frontend/src/components/globalsetting/sidebar.module.css
  frontend/src/components/globalsetting/sidebar.tsx
Due: build_frontend

Update. yaml ìte. 새로운 컨벤ì 션에 맞춰 수정
  docs/components/responses/scrud-project-response.yaml
  docs/components/schemas/scrud-project-dto.yaml
  docs/openapi.yaml
Due: none

Fix. codegen 삭제
  development.mock.sh
  development.sh
Due: none

Docs. 스키마 수정
  docs/components/schemas/canvas-schema.yaml
Due: none

Fix. 오류 수정
  infra/docker/docker-compose.dev.yaml
Due: none

Fix:레이아웃 css 변경
  frontend/src/app/globalsetting/page.tsx
Due: build_frontend

Fix:lint 에러 수정
  frontend/src/app/globalsetting/page.tsx
Due: build_frontend

Fix:빌드 에러 수정
  frontend/package-lock.json
Due: build_frontend

Update: canvas-schema.yaml
  docs/components/schemas/canvas-schema.yaml
Due: none

Update: modify .gitignore to include .env and adjust application.yaml for environment configuration
  backend/ExampleService/src/main/resources/application.yaml
  infra/env/.env
  infra/env/.gitignore
Due: build_backend

Feature: spec entity 생성
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/OperationFieldRule.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/ParameterRule.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/RequestRule.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/ResponseRule.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/ServiceSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/SpecVersion.java
  exec/DB덤프파일/rule.sql
Due: build_backend

Config: AOP, ModelMapper, Querydsl 설정
  backend/ExampleService/build.gradle
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/config/aop/LoggingAspect.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/config/modelMapper/ModelMapperConfig.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/config/querydsl/QuerydslConfig.java
Due: build_backend

Feature: 룰 조회 구현
  backend/ExampleService/.gitignore
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/application/dto/out/ParameterRuleOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/application/dto/out/RequestRuleOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/application/dto/out/ResponseRuleOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/application/dto/out/RuleOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/application/service/SpecService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/ServiceSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/SpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/exception/SpecErrorStatus.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/vo/OpenApiVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/vo/ScrudVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/infrastructure/querydsl/SpecQuerydsl.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/infrastructure/repository/ParameterRuleJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/infrastructure/repository/RequestRuleJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/infrastructure/repository/ResponseRuleJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/infrastructure/repository/ServiceSpecVersionJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/presentation/RuleController.java
  backend/ExampleService/src/main/resources/application.yaml
  cleanup.sh
  docs/components/schemas/rule-schema.yaml
Due: build_backend

Refactor: 버전 출력 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/application/dto/out/RuleOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/vo/OpenApiVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/vo/ScrudVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/presentation/RuleController.java
Due: build_backend

Fix: 메인페이지 및 API 제작 페이지 레이아웃 수정정
  frontend/src/app/api/examples/route.ts
  frontend/src/app/page.tsx
  frontend/src/app/project/api/page.tsx
  frontend/src/app/test/page.module.css
  frontend/src/app/test/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/RightContainer.tsx
  frontend/src/components/project-card/emoji-picker.tsx
  frontend/src/components/project-card/project-card.tsx
  frontend/src/components/project-card/project-form.tsx
Due: build_frontend

Fix: 빌드 실패 수정
  frontend/Dockerfile
  frontend/src/components/globalsetting/form.tsx
Due: build_frontend

Fix: 정상화
  frontend/Dockerfile
Due: build_frontend

Feature: api spec version entity 생성
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/ApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/DeleteApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/GetApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/PatchApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/PostApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/PutApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/enums/HttpMethod.java
  exec/DB덤프파일/rule.sql
Due: build_backend

Feature: implement API specification version management
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiCreateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/jpa/ApiSpecVersionJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ApiSpecController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/ScrudProjectApiSpecVersion.java
Due: build_backend

Merge: scrudProject crd 추가, github 연동 및 파일 가져오기 기능 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/common/error/ErrorStatus.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/config/security/SecurityConfig.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/dto/in/AddGlobalFileIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/dto/in/CreateProjectIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/dto/in/GlobalFileIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/dto/in/ScrudProjectIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/dto/out/AllGlobalFileOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/dto/out/AllScrudProjectOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/dto/out/GlobalFileOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/dto/out/ScrudProjectOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/assembler/ScrudProjectAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/domain/entity/GlobalFile.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/domain/entity/ScrudProject.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/presentation/controller/ScrudProjectController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/repository/GlobalFileRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/repository/ScrudProjectRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/service/ScrudProjectService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/service/ScrudProjectServiceImpl.java
  docs/components/responses/scrud-project-response.yaml
  docs/components/schemas/scrud-project-dto.yaml
  docs/openapi.yaml
  exec/아키텍처구조도/MSA아키텍처.txt
  exec/아키텍처구조도/레이어드아키텍처A.txt
  exec/아키텍처구조도/레이어드아키텍처B.txt
  exec/아키텍처구조도/클린아키텍처.txt
  exec/아키텍처구조도/헥사고널아키텍처.txt
Due: build_backend

Feature: api spect version 생성
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/assembler/ApiSpecVersionAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/in/CreateApiSpecVersionIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/out/ApiSpecVersionOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiCreateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/ApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/DeleteApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/GetApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/PatchApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/PostApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/PutApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ApiSpecController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/common/baseentity/SuperBuilderBaseTimeEntity.java
  backend/ExampleService/src/main/resources/application.yaml
  docs/components/requests/api-spec-request.yaml
  docs/components/responses/api-spec-response.yaml
  docs/components/schemas/api-spec-schema.yaml
  docs/openapi.yaml
Due: build_backend

Refactor: api spec version request and response 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ApiSpecController.java
  docs/components/requests/api-spec-request.yaml
  docs/components/responses/api-spec-response.yaml
  docs/components/schemas/api-spec-schema.yaml
  docs/openapi.yaml
Due: build_backend

Feature: api spec version 단일 조회 구현
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/exception/ApiSpecVersionErrorStatus.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/jpa/ApiSpecVersionJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ApiSpecController.java
  docs/components/responses/api-spec-response.yaml
  docs/components/schemas/api-spec-schema.yaml
  docs/openapi.yaml
Due: build_backend

Feature: api spec version 수정 구현
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/assembler/ApiSpecVersionAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/assembler/LatestEndpointVersionAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/in/UpdateApiSpecVersionIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiUpdateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/LatestEndpointVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/LatestEndpointVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/jpa/LatestEndpointVersionJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ApiSpecController.java
  docs/components/requests/api-spec-request.yaml
  docs/components/responses/api-spec-response.yaml
  docs/components/schemas/api-spec-schema.yaml
  docs/openapi.yaml
Due: build_backend

Feature: api spec version 삭제 구현
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiDeleteFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/LatestEndpointVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/jpa/LatestEndpointVersionJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ApiSpecController.java
  docs/openapi.yaml
Due: build_backend

Feature: bulk api spec version 생성 구현
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/assembler/ApiSpecVersionAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/assembler/LatestEndpointVersionAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiCreateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/LatestEndpointVersionService.java
Due: build_backend
