Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile

Docs. URL 누락 추가
  docs/openapi.yaml
Due: none

HotFix: frontend env
  frontend/.env
Due: build_frontend

Feat: SSE 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/presentation/ChatController.java
Due: build_backend

Feature: API spec status 수정 구현
  docs/components/requests/api-spec-request.yaml
  docs/components/schemas/api-spec-schema.yaml
  docs/openapi.yaml
Due: none

feature: API spec status 수정 구현
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/in/UpdateApiSpecStatusIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiCreateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiDeleteFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiGetFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiUpdateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/ApiSpec.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/exception/ApiSpecErrorStatus.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ApiSpecController.java
Due: build_backend

Fix: 필드 추가에 따른 변경
  frontend/src/app/api/canvas-api/[projectId]/[apiId]/route.ts
  frontend/src/app/favicon.ico
  frontend/src/app/layout.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
Due: build_frontend

Feat: SSE통신 구현
  frontend/src/app/api/canvas-api/[projectId]/[apiId]/route.ts
  frontend/src/app/api/canvas-api/[projectId]/route.ts
  frontend/src/app/api/canvas/[projectId]/[apiId]/route.ts
  frontend/src/app/api/chat/[projectId]/[apiId]/route.ts
  frontend/src/app/api/sse/connect/[sseId]/route.ts
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/RightContainer.tsx
  frontend/src/components/canvas/ChatContainer.tsx
Due: build_frontend

fix: API 스펙 관련 메서드 및 응답 모델 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ApiSpecController.java
  docs/components/responses/api-spec-response.yaml
  docs/components/schemas/api-spec-schema.yaml
  docs/openapi.yaml
Due: build_backend

Feat. 엔드 포인트 추가
  ai/tests/http/chat_route.http
Due: none

Feat. create_diagram 생성단계 추가
  ai/app/api/diagram_routes.py
  ai/app/core/services/diagram_service.py
Due: none

Feat. 프롬프트 변경
  ai/app/core/prompts/few_shot_prompt_template.py
  ai/app/core/services/chat_service.py
  ai/app/core/services/diagram_service.py
Due: none

Feat. 프롬프트 변경
  ai/app/core/models/prompt_models.py
  ai/app/infrastructure/mongodb/repository/model/diagram_model.py
Due: none

Feat: apiSpec Status 관련 함수 정의
  frontend/.env
  frontend/src/app/api/api-specs/api/[apiSpecId]/route.ts
  frontend/src/components/api-creator/MiddleContainer.tsx
Due: build_frontend

Fix: 상태 변경에 따른 필드 추가에 대한 프론트 수정
  frontend/src/app/api/api-specs/api/[apiSpecId]/route.ts
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/right-container/index.tsx
Due: build_frontend

Feat:dd
  docs/components/schemas/scrud-project-dto.yaml
  frontend/.env
  frontend/src/components/api-creator/right-container/ApiHeader.tsx
Due: build_frontend

Update: MongoDB chat storage and adjust chat sorting order
  ai/app/api/chat_routes.py
  ai/app/infrastructure/mongodb/repository/chat_repository_impl.py
  ai/tests/http/chat_route.http
Due: none

Remove: 필요없는 데이터 제거
  ai/app/core/models/prompt_models.py
Due: none

Remove: 필요없는 데이터 제거
  ai/app/api/dto/diagram_dto.py
Due: none

Feat. 1차 변경
  ai/app/core/services/chat_service.py
Due: none

Fix: 토큰에러 수정 및 상태 변경 조건
  frontend/src/app/hooks/useTokenValidator.ts
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/app/utils/auth.ts
  frontend/src/components/AuthProvider.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
Due: build_frontend

Feat. 채팅 서비스 코드 2차 변경
  ai/app/api/chat_routes.py
  ai/app/core/services/chat_service.py
  ai/app/core/services/sse_service.py
Due: none

HotFix: .env
  frontend/.env
Due: build_frontend

Update: defaultGlobalFile 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/assembler/ScrudProjectAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/dto/in/GlobalFileIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/dto/out/GlobalFileOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/domain/entity/DefaultGlobalFile.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/domain/entity/GlobalFile.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/repository/DefaultGlobalFileRepository.java
  backend/ExampleService/src/main/resources/sql/defaultGlobalFile.sql
Due: build_backend

HotFix: path parameter 수정
  docs/components/schemas/scrud-project-dto.yaml
Due: none

Update: assembler 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/assembler/ScrudProjectAssembler.java
Due: build_backend

Update: defaultGlobalFile.sql
  backend/ExampleService/src/main/resources/sql/defaultGlobalFile.sql
Due: build_backend

Fix:보안 설정, 아키텍처 필수 해제
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  docs/components/schemas/scrud-project-dto.yaml
  frontend/src/app/api/github/repos/[owner]/[repo]/commits/route.ts
  frontend/src/app/api/github/repos/[owner]/[repo]/git/trees/[sha]/route.ts
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/auth/github.ts
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/DependencySelector.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySelector.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
  frontend/src/lib/api/github.ts
Due: build_backend, build_frontend

Feat. 다이어그램 SSE
  ai/app/core/generator/chat_request_evaluator.py
  ai/app/core/services/chat_service.py
  ai/app/infrastructure/mongodb/repository/diagram_repository_impl.py
  ai/tests/http/chat_route.http
Due: none

Fix:경로 변경
  frontend/src/auth/github.ts
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_frontend

Hotfix:백서비스
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
Due: build_backend

Fix:린트 에러 해결
  frontend/src/app/api/github/repos/[owner]/[repo]/commits/route.ts
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
Due: build_frontend

Fix:빌드 에러
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
Due: build_backend, build_frontend

Feat. 완료
  ai/app/api/chat_routes.py
  ai/app/core/generator/streaming_handler.py
  ai/app/core/services/chat_service.py
Due: none

Fix: 도식화 기능 수정
  docs/components/schemas/scrud-project-dto.yaml
  frontend/src/app/api/canvas-api/[projectId]/route.ts
  frontend/src/app/api/sse/connect/[sseId]/route.ts
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/right-container/ApiHeader.tsx
  frontend/src/components/api-creator/right-container/index.tsx
  frontend/src/components/canvas/ChatContainer.tsx
  frontend/src/components/canvas/DiagramContainer.tsx
  frontend/src/types/api-spec.ts
Due: build_frontend

Feat: testAdminn authorize 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/common/util/SecurityUtil.java
  backend/ExampleService/src/main/resources/sql/defaultGlobalFile.sql
Due: build_backend

Feat. SSE 최적화
  ai/app/api/chat_routes.py
  ai/app/core/generator/chat_request_evaluator.py
  ai/app/core/generator/diagram_generator.py
  ai/app/core/services/chat_service.py
  ai/tests/http/chat_route.http
Due: none

Fix:경로 변경
  frontend/.env
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/auth/github.ts
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_frontend

Refactor: DTO 변환 메서드 리팩토링
  ai/app/api/dto/diagram_dto.py
  ai/app/core/services/chat_service.py
  ai/app/infrastructure/mongodb/repository/model/diagram_model.py
  ai/tests/unit/test_convert_diagram.py
Due: none

Refactor: 도식화 생성 여부 평가 로직 분리 및 코드 정리
  ai/app/core/services/chat_service.py
  ai/tests/http/diagram_route.http
Due: none

Refactor: `process_chat_and_diagram` 함수 리팩토링 및 관련 로직 분리
  ai/app/core/services/chat_service.py
Due: none
