Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

build_backend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./backend/generated
  ...

build_frontend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./frontend/generated
  ...

Fix: 빌드 실패 수정
  frontend/src/app/api/page.tsx
Due: build_frontend

Feat: 도식화 css 작업중
  frontend/src/app/data/dummy-diagram-data.ts
  frontend/src/components/canvas/DiagramContainer.tsx
Due: build_frontend

feat. CICD AI 서버 추가
  ai/.dockerignore
  ai/.gitignore
  ai/Dockerfile
  ai/requirements.txt
  infra/docker/docker-compose.dev.yaml
Due: none

fix. Dockerfile 이미지 교체
  ai/Dockerfile
Due: none

Fix:api 클라이언트 형식으로 route.ts 수정 중
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/Form.tsx
Due: build_frontend

Update: scrud project 정보 수정 api 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/service/OAuth2AuthenticationSuccessHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/dto/in/UpdateProjectIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/assembler/ScrudProjectAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/domain/entity/ScrudProject.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/presentation/controller/ScrudProjectController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/service/ScrudProjectService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/service/ScrudProjectServiceImpl.java
  docs/components/responses/scrud-project-response.yaml
  docs/components/schemas/scrud-project-dto.yaml
  docs/openapi.yaml
  exec/아키텍처구조도/MSA아키텍처.txt
  exec/아키텍처구조도/레이어드아키텍처A.txt
  exec/아키텍처구조도/레이어드아키텍처B.txt
  exec/아키텍처구조도/클린아키텍처.txt
  exec/아키텍처구조도/헥사고널아키텍처.txt
Due: build_backend

Feat: 메서드 타겟팅기능 추가
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/canvas/ChatContainer.tsx
  frontend/src/components/canvas/DiagramContainer.tsx
  frontend/src/components/canvas/nodes/ClassNode.tsx
  frontend/src/components/canvas/nodes/InterfaceNode.tsx
  frontend/src/components/canvas/nodes/MethodNode.tsx
Due: build_frontend

Fix:깃허브 폴더 구조 변경
  frontend/src/app/api/github/repos/{깃허브계정뭐지}/{name}/commits/route.ts
Due: build_frontend

Feature: AI로 api spec version 생성 구현
  backend/ExampleService/build.gradle
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/facade/ApiCreateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/usecase/ApiSpecUseCase.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/event/ApiSpecEventHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/event/ApiSpecGenerateEvent.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/webclient/ApiSpecVersionWebclient.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/webclient/request/ApiSpecGenerateRequest.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/webclient/response/ApiSpecGenerateResponse.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/config/webClient/WebClientConfig.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/service/OAuth2AuthenticationSuccessHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/presentation/controller/ScrudProjectController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/service/ScrudProjectService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/service/ScrudProjectServiceImpl.java
  backend/ExampleService/src/main/resources/application.yaml
Due: build_backend

Fix: api-creator-connect(서버에서 불러오는 데이터 표시)
  frontend/.env
  frontend/src/app/project/api/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/RightContainer.tsx
Due: build_frontend

Feat: rule에 따른 http method
  docs/output/openapi/openapi.yaml
  frontend/public/data/rules.json
  frontend/src/app/api/api-specs/[apiSpecVersionId]/route.ts
  frontend/src/app/api/rules/route.ts
  frontend/src/app/apis/page.tsx
  frontend/src/app/project/[id]/api/page.tsx
  frontend/src/app/project/[id]/page.tsx
  frontend/src/app/project/api/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/RightContainer.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/project-card/project-card.tsx
  frontend/src/services/rulesService.ts
  frontend/src/types/rules.ts
Due: build_frontend

Feat: api 목록 호출 및 api 상태 변경 api 호출 완료
  frontend/src/app/api/canvas-api/[projectId]/[apiId]/route.ts
  frontend/src/app/api/canvas-api/[projectId]/route.ts
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/startpage/page.tsx
Due: build_frontend

Feat:의존성 파일 드롭다운/아키텍처 구조 카드 선택지 등 전역 설정 파일 타입 추가
  frontend/src/app/api/projects/[projectId]/[globalFileId]/route.ts
  frontend/src/app/api/projects/[projectId]/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/project/[id]/api/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/DependencySelector.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/globalsetting/SecuritySelector.tsx
  frontend/src/components/project-card/project-card.tsx
  frontend/src/components/project-card/project-form.tsx
Due: build_frontend

Fix:이벤트 퍼블리셔 주석 처리
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/service/ScrudProjectServiceImpl.java
Due: build_backend

Feature: implement API specification generation with OpenAI integration
  ai/app/api/api_routes.py
  ai/app/core/generator/api_model_generator.py
  ai/app/core/models/api_models.py
  ai/app/core/prompts/api_generate_prompt_template.py
  ai/app/core/services/generate_api.py
  ai/app/main.py
Due: none

Refactor: streamline API spec generation by removing unnecessary JSON parsing
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/event/ApiSpecEventHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/webclient/response/ApiSpecGenerateResponse.java
Due: build_backend

feat. sse 통신 추가
  ai/app/api/chat_routes.py
  ai/app/config/config.py
  ai/app/core/generator/model_generator.py
  ai/app/core/generator/stream_handler.py
  ai/app/core/generator/streaming_handler.py
  ai/app/core/prompts/few_shot_prompt_template.py
  ai/app/core/services/chat_service.py
  ai/app/core/services/diagram_service.py
  ai/app/infrastructure/kafka/handler/handlers.py
  ai/app/main.py
  ai/requirements.txt
  ai/tests/http/fastapi_kafka_test.http
Due: none

Move: 파일이동 (경로 문제)
  ai/app/mongo_example.py
Due: none

Remove: 의존성 제거
  ai/requirements.txt
Due: none

Feat: 도식화 DTO 정보 확인 기능 추가
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/app/data/dummy-diagram-data.ts
  frontend/src/components/canvas/DiagramContainer.tsx
Due: build_frontend

feat. 로깅 추가
  ai/app/core/services/chat_service.py
  ai/app/main.py
  ai/app/mongo_practice_diagram.ipynb
  ai/tests/http/fastapi_kafka_test.http
Due: none

feat. 로깅 추가
  ai/app/api/chat_routes.py
Due: none

feat. 몽고 DB 연습 코드 추가
  ai/app/mongo_example.py
  ai/app/mongo_practice.ipynb
Due: none

Feat: OpenAPI 및 스키마 정의 확장
  docs/canvasapi.yaml
  docs/components/examples/canvas-example.yaml
  docs/components/responses/canvas-response.yaml
  docs/components/schemas/canvas-schema.yaml
  docs/openapi.yaml
Due: none

Fix. 스키마 수정
  docs/components/schemas/canvas-schema.yaml
Due: none

Chore: gitignore 파일 추가, 더미 파일 제거
  backend/generated/.gitignore
  backend/generated/README.md
  backend/generated/pom.xml
  docs/.gitignore
  docs/output/.openapi-generator/FILES
  docs/output/.openapi-generator/VERSION
  docs/output/README.md
  docs/output/openapi/openapi.yaml
Due: build_backend

Remove: example을 response로 옮기면서 example을 제거
  docs/components/examples/canvas-example.yaml
Due: none

Feat. 응답 값
  docs/components/examples/canvas-example.yaml
Due: none

Feat: 데이터 베이스 모델 추가
  ai/app/infrastructure/mongodb/repository/model/diagram_model.py
Due: none

Remove: 기타 파일 제거
  ai/app/mongo_practice.ipynb
  ai/app/mongo_practice_diagram.ipynb
Due: none

Feature: add logging for API spec generation duration and macOS netty resolver dependency
  backend/ExampleService/build.gradle
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/event/ApiSpecEventHandler.java
Due: build_backend

Feature: refactor OpenAI client configuration and add title to FastAPI app
  ai/app/core/generator/api_model_generator.py
  ai/app/main.py
Due: none

feat. 1차 수정
  ai/CLAUDE.md
  ai/app/api/diagram_routes.py
  ai/app/api/routes.py
  ai/app/infrastructure/mongodb/repository/diagram_repository.py
  ai/app/infrastructure/mongodb/repository/diagram_repository_impl.py
  ai/tests/http/diagram_test.http
Due: none

feat. sort 처리 기능 추가
  ai/app/api/diagram_routes.py
  ai/app/infrastructure/mongodb/repository/diagram_repository_impl.py
  ai/app/infrastructure/mongodb/repository/mongo_repository.py
  ai/app/infrastructure/mongodb/repository/mongo_repository_impl.py
  ai/tests/http/diagram_test.http
Due: none

Fix: 타입 에러 해결
  frontend/src/app/api/canvas-api/[projectId]/route.ts
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/app/data/dummy-diagram-data.ts
  frontend/src/components/canvas/DiagramContainer.tsx
  frontend/src/components/canvas/DiagramInfo.tsx
  frontend/src/components/canvas/DtoContainer.tsx
Due: build_frontend

Remove: 사용하지 않는 라우터 제거
  ai/app/api/chat_routes.py
  ai/app/api/routes.py
  ai/app/main.py
Due: none

Remove: 사용하지 않는 리포지토리, 테스트 제거
  ai/app/infrastructure/mongodb/repository/mongo_mock_repository.py
  ai/tests/unit/test_chat_service.py
  ai/tests/unit/test_chat_service_real.py
Due: none

Remove: 테스트 제거
  ai/tests/http/fastapi_kafka_test.http
Due: none

Fix. layered 구조로 변경
  ai/app/api/chat_routes.py
  ai/app/api/diagram_routes.py
  ai/app/api/dto/__init__.py
  ai/app/api/dto/diagram_dto.py
  ai/app/core/services/chat_service.py
  ai/app/core/services/diagram_service.py
  ai/app/infrastructure/mongodb/repository/chat_repository.py
  ai/app/infrastructure/mongodb/repository/chat_repository_impl.py
  ai/app/infrastructure/mongodb/repository/diagram_repository_impl.py
  ai/app/main.py
Due: none

Feat. diagram_service 추가
  ai/app/core/services/diagram_service.py
  ai/tests/http/diagram_route.http
Due: none

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile
