Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

build_backend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./backend/generated
  ...

build_frontend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./frontend/generated
  ...

Feat: DiagramFacade 클래스 추가 및 다이어그램 관련 기능 구현
  ai/app/core/diagram/diagram_facade.py
Due: none

Refactor: 불필요한 ChatRequestEvaluator 클래스 제거 및 다이어그램 예제 코드 리팩토링
  ai/app/api/dto/diagram_dto.py
  ai/app/core/generator/chat_request_evaluator.py
  ai/app/core/llm/base_llm.py
  ai/app/core/prompts/example/diagram_example.py
  ai/tests/http/chat_route.http
  ai/tests/http/diagram_route.http
Due: none

Feat: 댓글 작성 시 작성자 정보를 포함한 응답 데이터 반환 기능 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentCreateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/CommentService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/CommentController.java
  docs/commentapi.yaml
  docs/components/responses/comment-response.yaml
  docs/openapi.yaml
Due: build_backend

Feat: 주요 체인의 predict 메소드에 디버깅 로그 추가
  ai/app/core/llm/chains/component_chain.py
  ai/app/core/llm/chains/connection_chain.py
  ai/app/core/llm/chains/create_diagram_chain.py
  ai/app/core/llm/chains/dto_chain.py
  ai/app/core/llm/chains/user_chat_chain.py
Due: none

Feat: DiagramFacade 및 ChatServiceFacade에 디버깅 로깅 추가
  ai/app/core/diagram/diagram_facade.py
  ai/app/core/services/chat_service_facade.py
Due: none

Feat: CreateDiagramChain을 CreateDiagramComponentChain으로 리팩토링 및 create_diagram_prompt 분리
  ai/app/api/chat_routes.py
  ai/app/api/diagram_routes.py
  ai/app/api/dto/diagram_dto.py
  ai/app/core/diagram/diagram_facade.py
  ai/app/core/llm/chains/create_diagram_component_chain.py
  ai/app/core/llm/chains/user_chat_chain.py
  ai/app/core/llm/prompt_service.py
  ai/app/core/llm/prompts/create_diagram_component_prompt.py
  ai/app/core/llm/prompts/create_diagram_prompt.py
  ai/app/core/llm/prompts/user_chat_prompts.py
  ai/app/core/models/user_chat_model.py
  ai/app/core/services/chat_service_facade.py
  ai/tests/http/chat_route.http
  frontend/.env
  frontend/src/app/api/chat/[projectId]/[apiId]/route.ts
Due: build_frontend

Feat: 댓글 생성 후 목록 및 댓글 수 갱신 로직 추가
  frontend/src/app/api/comment/[id]/route.ts
  frontend/src/components/feedback/comment/FeedbackComment.tsx
  frontend/src/lib/comment-api.ts
Due: build_frontend

Feat: 게시글 수정 여부(isUpdated) 표시 및 피드백 투표 API 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/PostOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Post.java
  docs/components/schemas/post-schema.yaml
  frontend/src/app/api/feedback/[id]/vote/route.ts
  frontend/src/components/feedback/comment/FeedbackComment.tsx
  frontend/src/components/feedback/detail/FeedbackDetail.tsx
  frontend/src/components/feedback/detail/FeedbackHeader.tsx
Due: build_backend, build_frontend

Feat:프로젝트 개요, 요구사항, ERD 임시저장
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  docs/output/openapi/openapi.yaml
  frontend/.env
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/store/formDataStore.ts
  frontend/src/store/projectTempStore.ts
  frontend/src/store/types/project.ts
Due: build_backend, build_frontend

Feat:에러, 코드 컨벤션, 유틸 임시저장
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_frontend

Feat: user api token 저장
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/common/error/ErrorStatus.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/service/OAuth2AuthenticationSuccessHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/user/domain/entity/User.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/user/presentation/controller/UserController.java
  docs/components/responses/user-response.yaml
  docs/components/schemas/user-schema.yaml
  docs/openapi.yaml
  docs/output/openapi/openapi.yaml
  frontend/.env
  frontend/src/components/header/header.tsx
Due: build_backend, build_frontend

Feat: 피드백 관리 기능 추가 및 수정 기능 구현
  docs/openapi.yaml
  docs/postapi.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/feedback/[id]/route.ts
  frontend/src/app/api/feedback/[id]/vote/route.ts
  frontend/src/app/feedback/[id]/edit/page.tsx
  frontend/src/components/feedback/delete/FeedbackActions.tsx
  frontend/src/components/feedback/edit/FeedbackEditForm.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/lib/feedback-api.ts
Due: build_frontend

Feat: PostVoteEvent 클래스 변환 및 사용자 인증 체크 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/event/PostVoteEvent.java
  docs/components/schemas/user-schema.yaml
  frontend/src/components/feedback/delete/FeedbackActions.tsx
  frontend/src/components/feedback/edit/FeedbackEditForm.tsx
Due: build_backend, build_frontend

Fix: PostVoteEvent의 getter 메서드 호출 방식 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/assembler/PostAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostEventService.java
Due: build_backend

Refactor: API 요청 시 baseUrl 사용하도록 수정
  frontend/src/app/api/feedback/[id]/vote/route.ts
  frontend/src/lib/feedback-api.ts
Due: build_frontend

Refactor: 불필요한 로그 제거 및 연관 엔티티의 CascadeType 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Post.java
  frontend/src/app/api/feedback/[id]/vote/route.ts
Due: build_backend, build_frontend

Feat:임시 저장, 프로젝트 정보 조회
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/app/project/[id]/api/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/DependencySelector.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/SecuritySelector.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
  frontend/src/components/header/apiheader.tsx
  frontend/src/store/projectTempStore.ts
  frontend/src/store/types/project.ts
Due: build_frontend

Feat:프로젝트 정보 수정
  frontend/src/app/api/projects/route.ts
  frontend/src/components/header/apiheader.tsx
Due: build_frontend

Feat:서버 url 검사
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/project-card/project-card.tsx
Due: build_frontend

Fix: API 제작 페이지 style 수정
  frontend/.env
Due: build_frontend

Fix: .env
  frontend/.env
Due: build_frontend

Fix: fix
  docs/output/openapi/openapi.yaml
Due: none

Feat: UI/UX 개선
  frontend/.env
Due: build_frontend

Feat: 전역 파일 내용 모달 추가+전역 설정 안내 문구 추가
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/api-creator/FileContentModal.tsx
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/DependencySelector.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_frontend

Fix: 게시글 추천/비추천 트랜잭션 설정 오류 수정 (readOnly 제거)
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostService.java
Due: build_backend

Feat: css 수정
  docs/output/openapi/openapi.yaml
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/startpage/page.tsx
  frontend/src/components/header/header.tsx
Due: build_frontend

Feat: css 수정
  frontend/.env
  frontend/src/app/page.tsx
Due: build_frontend

Feat: 환경 변수 값 프로덕션 환경에 맞게 수정
  frontend/.env
Due: build_frontend

Feat: LLM 생성 시 온도(temperature) 설정 기능 추가
  ai/app/core/llm/base_llm.py
Due: none

Feat: temperature 설정 추가 및 SSE 데이터 출력 형식 변경
  ai/app/api/chat_routes.py
Due: none

Feat: 프로세스 체인에 Prompt 객체 추가 및 디버깅 로깅 개선
  ai/app/core/llm/chains/component_chain.py
  ai/app/core/llm/chains/connection_chain.py
  ai/app/core/llm/chains/create_diagram_component_chain.py
  ai/app/core/llm/chains/dto_chain.py
  ai/app/core/llm/chains/user_chat_chain.py
Due: none

Refactor: 다이어그램 ID 이벤트 전송 로직 제거 및 디버깅 메시지 추가
  ai/app/core/services/chat_service_facade.py
Due: none

Fix: 파일 끝에 newline 추가하여 코드 스타일 준수
  ai/app/utils/prompt_builder.py
Due: none

Refactor: 디버깅용 print 문 제거 및 데이터 전송 형식 수정
  ai/app/core/generator/streaming_handler.py
Due: none

Feat: DiagramModel 예제 수정 - 클래스명 및 메서드 예제 업데이트
  ai/app/core/models/diagram_model.py
Due: none

Feat: Enum 값 설명 프롬프트 생성 유틸리티 클래스 추가
  ai/app/utils/enum_prompt_builder.py
Due: none

Refactor: 모델 필드 설명 및 구조 리팩토링, OpenAI API 호출 시 temperature 기본값 추가
  ai/app/api/diagram_routes.py
  ai/app/core/models/user_chat_model.py
Due: none

Refactor: 불필요한 EnumPromptBuilder 제거 및 PromptBuilder 개선
  ai/app/core/llm/chains/component_chain.py
  ai/app/core/llm/chains/create_diagram_component_chain.py
  ai/app/core/llm/chains/user_chat_chain.py
  ai/app/core/llm/prompt_service.py
  ai/app/core/llm/prompts/component_prompts.py
  ai/app/core/llm/prompts/create_diagram_component_prompt.py
  ai/app/core/llm/prompts/user_chat_prompts.py
  ai/app/core/models/diagram_model.py
  ai/app/core/models/global_setting_model.py
  ai/app/infrastructure/http/client/api_client.py
  ai/app/utils/enum_prompt_builder.py
  ai/app/utils/prompt_builder.py
Due: none

Feat: dto css 수정
  frontend/.env
  frontend/src/components/canvas/DtoContainer.tsx
Due: build_frontend

Feat: 버전 생성 이벤트 전송 기능 추가 및 사용 로직 정비
  ai/app/core/generator/streaming_handler.py
  ai/app/core/services/chat_service_facade.py
  ai/app/core/services/sse_service.py
Due: none

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile
