Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_backend, test_frontend, build_backend, build_frontend, build_fastapi, build_celery_worker

test_backend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: test
  needs:
  - prepare_job
  before_script:
  - ls -la ./backend/generated
  script:
  ...

test_frontend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: test
  needs:
  - prepare_job
  before_script:
  - ls -la ./frontend/generated
  script:
  ...

build_backend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: test_backend
    optional: true
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./backend/generated
  ...

build_frontend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: test_frontend
    optional: true
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./frontend/generated
  ...

build_fastapi:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  before_script:
  - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD
  script:
  ...

build_celery_worker:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  before_script:
  - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD
  script:
  ...

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitignore
  backend/.gitignore
Due: test_backend, build_backend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Feat: PUBLIC 전용 env 파일 추가
  frontend/.env
Due: test_frontend, build_frontend

Remove: 운영용 docker compose 파일 제거
  frontend/.gitignore
  infra/docker/docker-compose.prod.yaml
Due: test_frontend, build_frontend

Update: Docker 파일 수정
  frontend/Dockerfile
  infra/docker/docker-compose.dev.db.yaml
Due: test_frontend, build_frontend

Update: Docker 파일 수정
  .gitlab-ci.yml
  frontend/.dockerignore
Due: test_frontend, build_frontend

Feat: 프론트 서버 라우팅 함수 추가
  frontend/src/app/api/env-mode/route.ts
  frontend/src/app/api/examples/route.ts
  frontend/src/app/page.tsx
Due: test_frontend, build_frontend

Infra. 파이프라인 수정
  .gitlab-ci.yml
  backend/ExampleService/Dockerfile
  development.mock.sh
  frontend/Dockerfile
Due: test_backend, test_frontend, build_backend, build_frontend

Infra. 파이프라인 수정
  .gitlab-ci.yml
  frontend/Dockerfile
Due: test_frontend, build_frontend

Infra. 파이프라인 수정
  .gitlab-ci.yml
Due: none

Infra. 파이프라인 수정
  backend/ExampleService/Dockerfile
  frontend/Dockerfile
Due: test_backend, test_frontend, build_backend, build_frontend

Infra. 파이프라인 수정
  .gitlab-ci.yml
  backend/ExampleService/Dockerfile
  frontend/Dockerfile
Due: test_backend, test_frontend, build_backend, build_frontend

Feat: dotenv 추가
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
Due: test_frontend, build_frontend

Merge: googleOauth, GithubOauth, User 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/CorsConfig.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/ScrudApplication.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/base/BaseEntity.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/base/code/BaseErrorCode.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/base/code/ErrorReasonDTO.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/base/status/ErrorStatus.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/config/CorsConfig.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/config/SecurityConfig.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/example/controller/ExampleController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/github/model/entity/GithubAccount.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/github/repository/GithubAccountRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/member/controller/UserController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/member/model/entity/Token.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/member/model/entity/User.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/member/repository/UserRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/member/service/UserService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/member/service/UserServiceImpl.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/oauth/UserPrincipal.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/oauth/provider/GithubOAuth2UserInfo.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/oauth/provider/GoogleOAuth2UserInfo.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/oauth/service/CustomOAuth2UserService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/oauth/service/OAuth2AuthenticationFailureHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/oauth/service/OAuth2AuthenticationSuccessHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/exception/BaseException.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/exception/ExceptionHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/util/GenerateRandomNickname.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/util/JWTAuthenticationFilter.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/util/JWTUtil.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/util/SecurityUtil.java
  backend/ExampleService/src/main/resources/application.yaml
  backend/build.gradle
Due: test_backend, build_backend

Feat: 메인 페이지 및 헤더 레이아웃
  backend/generated/README.md
  backend/generated/pom.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/env-mode/route.ts
  frontend/src/app/components/header/header.module.css
  frontend/src/app/components/header/header.tsx
  frontend/src/app/components/header/index.ts
  frontend/src/app/components/project-card/index.ts
  frontend/src/app/components/project-card/new-project-card.tsx
  frontend/src/app/components/project-card/project-card.module.css
  frontend/src/app/components/project-card/project-card.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.module.css
  frontend/src/app/page.tsx
  frontend/src/app/project/[id]/page.module.css
  frontend/src/app/project/[id]/page.tsx
  frontend/src/app/test/page.module.css
  frontend/src/app/test/page.tsx
Due: test_backend, test_frontend, build_backend, build_frontend

Fix: 린트 오류 수정정
  frontend/src/app/page.tsx
Due: test_frontend, build_frontend

Fix: 컴포넌트 경로 수정
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/header/header.module.css
  frontend/src/components/header/header.tsx
  frontend/src/components/header/index.ts
  frontend/src/components/project-card/index.ts
  frontend/src/components/project-card/new-project-card.tsx
  frontend/src/components/project-card/project-card.module.css
  frontend/src/components/project-card/project-card.tsx
Due: test_frontend, build_frontend

Modify: Assembler 추가, Github Entity UUID -> Long 수정, BaseEntity Updatable true 로 수정, PrePersist 삭제하고 @EnableJpaAuditing 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/ScrudApplication.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/base/BaseEntity.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/github/model/entity/GithubAccount.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/github/repository/GithubAccountRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/member/service/UserService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/oauth/UserPrincipal.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/oauth/service/CustomOAuth2UserService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/oauth/service/OAuth2AuthenticationSuccessHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/user/application/assembler/UserAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/user/application/service/UserService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/user/application/service/UserServiceImpl.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/user/controller/UserController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/user/model/entity/Token.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/user/model/entity/User.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/user/repository/UserRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/util/JWTAuthenticationFilter.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/util/JWTUtil.java
Due: test_backend, build_backend

Update: CORS 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/config/CorsConfig.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/config/SecurityConfig.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/config/SecurityProperties.java
  backend/ExampleService/src/main/resources/application.yaml
Due: test_backend, build_backend

Feat: 전역 설정 파일/폴더 생성 및 링크 걸기
  frontend/src/app/globalsetting/page.module.css
  frontend/src/app/globalsetting/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/globalsetting/contentarea.module.css
  frontend/src/components/globalsetting/contentarea.tsx
  frontend/src/components/globalsetting/floatingbutton.module.css
  frontend/src/components/globalsetting/floatingbutton.tsx
  frontend/src/components/globalsetting/form.module.css
  frontend/src/components/globalsetting/form.tsx
  frontend/src/components/globalsetting/infomodal.module.css
  frontend/src/components/globalsetting/infomodal.tsx
  frontend/src/components/globalsetting/sidebar.module.css
  frontend/src/components/globalsetting/sidebar.tsx
  infra/env/.env
Due: test_frontend, build_frontend

Update: CORS 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/config/CorsConfig.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/config/CorsProperties.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/config/SecurityConfig.java
  backend/ExampleService/src/main/resources/application.yaml
Due: test_backend, build_backend

Fix: tailwind CSS 추가
  backend/generated/pom.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/header/header.module.css
  frontend/src/components/header/header.tsx
  frontend/src/components/project-card/new-project-card.tsx
  frontend/src/components/project-card/project-card.module.css
  frontend/src/components/project-card/project-card.tsx
Due: test_backend, test_frontend, build_backend, build_frontend

Feat: 전역 설정 레이아웃 구현 중
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globalsetting/page.module.css
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/contentarea.module.css
  frontend/src/components/globalsetting/contentarea.tsx
  frontend/src/components/globalsetting/floatingbutton.module.css
  frontend/src/components/globalsetting/floatingbutton.tsx
  frontend/src/components/globalsetting/form.module.css
  frontend/src/components/globalsetting/form.tsx
  frontend/src/components/globalsetting/infomodal.module.css
  frontend/src/components/globalsetting/infomodal.tsx
  frontend/src/components/globalsetting/sidebar.module.css
  frontend/src/components/globalsetting/sidebar.tsx
Due: test_frontend, build_frontend

Docs: API 스펙 관련 YAML 및 JSON 파일 추가, .gitignore 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/domain/example/controller/ExampleController.java
  backend/build.gradle
  backend/generated/.gitignore
  docs/components/requests/api-spec-request.yaml
  docs/components/responses/api-spec-response.yaml
  docs/components/responses/rule-response.yaml
  docs/components/schemas/api-spec-schema.yaml
  docs/components/schemas/rule-schema.yaml
  docs/openapi.yaml
  exec/DB덤프파일/rule.json
  exec/DB덤프파일/rule.sql
Due: test_backend, build_backend

Fix. 코드 삭제가 안되는 오류 수정
  backend/generated/.gitignore
  cleanup.sh
Due: test_backend, build_backend

Path conditions:
  test_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  test_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile
  build_fastapi: any of: ai/**/*, infra/dockerfiles/ai.Dockerfile
  build_celery_worker: any of: ai/**/*, infra/dockerfiles/ai.Dockerfile
