Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

build_backend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./backend/generated
  ...

build_frontend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./frontend/generated
  ...

Refactor: apiSpecId를 apiSpecVersionId로 변경 및 관련 로직 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/in/UpdateApiSpecStatusIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ApiSpecController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ScrudApiController.java
Due: build_backend

Feat: 게시판 API 명세 작성 및 페이지 정렬 관련 스키마 추가
  docs/commentapi.yaml
  docs/components/requests/comment-request.yaml
  docs/components/requests/post-request.yaml
  docs/components/responses/comment-response.yaml
  docs/components/responses/post-response.yaml
  docs/components/schemas/comment-schema.yaml
  docs/components/schemas/page-schema.yaml
  docs/components/schemas/post-schema.yaml
  docs/output/openapi/openapi.yaml
  docs/postapi.yaml
Due: none

Feat: 게시글 및 댓글 관련 API 스펙 추가 및 기존 스펙 구조 개선
  docs/commentapi.yaml
  docs/components/requests/comment-request.yaml
  docs/components/responses/comment-response.yaml
  docs/components/schemas/comment-schema.yaml
  docs/components/schemas/page-schema.yaml
  docs/openapi.yaml
  docs/output/openapi/openapi.yaml
  docs/postapi.yaml
Due: none

Refactor: Post 정렬 관련 Enum 정의를 `post-schema.yaml`로 분리하여 중복 제거 및 참조 구조 개선.
  docs/components/schemas/page-schema.yaml
  docs/components/schemas/post-schema.yaml
  docs/output/openapi/openapi.yaml
Due: none

Feat: API 문서에 operationId를 추가하고 응답 및 요청 스키마 참조 구조 개선 - Post 및 Comment API에 operationId 추가 (CRUD 및 투표 관련 엔드포인트) - 응답 스키마를 단순화하여 기존 inline 정의 대신 공통 스키마 참조 방식으로 변경
  docs/commentapi.yaml
  docs/components/responses/post-response.yaml
  docs/components/schemas/post-schema.yaml
  docs/openapi.yaml
  docs/output/openapi/openapi.yaml
  docs/postapi.yaml
Due: none

Feat: 게시글, 댓글, 투표 관련 엔티티 및 Post API 컨트롤러/서비스 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/PostService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Category.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Comment.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/CommentVote.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Post.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/PostVote.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/jpa/PostJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/PostController.java
Due: build_backend

Fix: style
  frontend/.env
Due: build_frontend

Feat: comment 및 post 스키마에 int64 포맷 추가 및 코드 정리
  docs/components/schemas/comment-schema.yaml
  docs/components/schemas/post-schema.yaml
  frontend/src/app/globalsetting/page.tsx
Due: build_frontend

Update .env
  frontend/.env
Due: build_frontend

Refactor:전역 파일 추가/삭제 삭제
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
Due: build_backend, build_frontend

Update route.ts
  frontend/src/app/api/canvas/[projectId]/[apiId]/route.ts
Due: build_frontend

Update: 응답 형식 변경
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/dto/out/AllGlobalFileOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/presentation/controller/ScrudProjectController.java
  docs/components/schemas/scrud-project-dto.yaml
Due: build_backend

Style: Api 제작 헤더 진행중
  frontend/.env
  frontend/src/app/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/header/apiheader.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/project-card/project-card.tsx
Due: build_frontend

Feat: 게시글 생성 기능 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/PostService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/assembler/PostAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/in/CreatePostIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/CreatePostOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Post.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/exception/PostErrorStatus.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/jpa/CategoryJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/jpa/PostJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/PostController.java
Due: build_backend

Update connection.py
  ai/app/infrastructure/mongodb/connection/connection.py
Due: none

Fix: style
  frontend/.env
  frontend/src/app/project/[id]/api/page.tsx
  frontend/src/components/header/apiheader.tsx
Due: build_frontend

Feat: 게시글 목록 조회 기능 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/in/GetPostListIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/CategoryOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/PostListOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/PostOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/enums/PostOrder.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/enums/PostSearchType.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/enums/PostSort.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/query/in/PostListQueryIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/query/out/PostListQueryOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/querydsl/PostQueryDsl.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/PostController.java
  docs/components/requests/post-request.yaml
Due: build_backend

Design:의존성 파일 항목 레이아웃 변경
  frontend/public/layered-a.png
  frontend/public/layered-b.png
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/DependencySelector.tsx
  frontend/src/components/project-card/project-card.tsx
Due: build_frontend

Style: API 제작 페이지 헤더 설정
  frontend/public/favicon.png
  frontend/public/faviconblack.png
  frontend/src/components/header/apiheader.tsx
Due: build_frontend

Fix: .env 주석 해제제
  frontend/.env
Due: build_frontend

Refactor: UserServiceImpl 제거 및 UserService 리팩토링, UserUseCase와 UserOut 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/user/application/dto/out/UserOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/user/application/service/UserService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/user/application/service/UserServiceImpl.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/user/application/usecase/UserUseCase.java
Due: build_backend

Fix: API 제작 response 내용 수정
  frontend/src/components/api-creator/right-container/ApiResponse.tsx
Due: build_frontend

Fix: API header 닉네임 표시 제거
  frontend/src/components/header/apiheader.tsx
Due: build_frontend

Feat: 게시글 및 댓글 관련 기능 개선
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/GetPostOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/PostOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/PostGetFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostGetService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Post.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/exception/PostErrorStatus.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/event/PostEventHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/event/PostViewEvent.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/PostController.java
  docs/components/schemas/post-schema.yaml
  docs/output/openapi/openapi.yaml
Due: build_backend

Remove: 사용되지 않는 getModelMapper 메서드 제거
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/PostController.java
Due: build_backend

Feat: 게시글 상세 조회 메서드 Javadoc 추가 및 불필요한 의존성 제거
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/PostGetFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostGetService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostService.java
Due: build_backend

Fix: apiheader 위치 수정
  frontend/src/components/header/apiheader.tsx
Due: build_frontend

Fix:의존성 파일 수정 중
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/form/DependencySelector.tsx
Due: build_frontend

Feat: MongoDB 클라이언트 초기화 시 SSL 및 무효 인증서 허용 옵션 추가
  ai/app/infrastructure/mongodb/connection/connection.py
Due: none

Feat: MongoDB 클라이언트 초기화 시 SSL 및 무효 인증서 허용 옵션 추가
  ai/app/main.py
Due: none

Feat: 다이어그램 생성 로직 추가
  ai/app/core/generator/diagram_create_generator.py
  ai/app/core/prompts/example/diagram_example.py
  ai/app/core/prompts/message/create_diagram_human_message.py
  ai/app/core/prompts/message/create_diagram_system_message.py
Due: none

Feat: Diagram 생성 로직 분리 및 ID 중복 검사 메서드 추가
  ai/app/core/services/diagram_service.py
  ai/app/infrastructure/mongodb/repository/model/diagram_model.py
Due: none

Feat: 게시글 조회수 증가 및 추천/비추천 이벤트 처리 기능 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/in/PostVoteIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/in/UpdatePostIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/PostVoteOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostEventService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Category.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Comment.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/CommentVote.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Post.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/PostVote.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/event/PostEventHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/event/PostVoteEvent.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/PostController.java
Due: build_backend

Feat: 게시글 추천 중복 확인 로직 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Post.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/exception/PostErrorStatus.java
Due: build_backend

Fix: ApiSpec 스타일 및 메서드 스타일 변경
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/right-container/ApiForm.tsx
Due: build_frontend

Feat: 게시글 조회 API 구현 및 불필요한 메서드/DTO/연결 제거
  ai/app/core/prompts/example/diagram_example.py
Due: none

Refactor: 다이어그램 검증 로직(validate_diagram_fields) 비활성화 및 관련 호출 제거
  ai/app/core/generator/diagram_create_generator.py
  ai/app/core/prompts/message/create_diagram_system_message.py
Due: none

Fix:의존성 첨부 항목 오류 수정+레이아웃 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  frontend/.env
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
Due: build_backend, build_frontend

Fix: 그룹 삭제 기능 추가
  frontend/src/components/api-creator/MiddleContainer.tsx
Due: build_frontend

Refactor: 게시물 투표 로직 리팩토링 및 PostVoteEntity 생성 로직 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/assembler/PostAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostEventService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Post.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/PostVote.java
Due: build_backend

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile
