Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile

Feat: 채팅 컴포넌트 수정
  frontend/src/components/canvas/ChatContainer.tsx
Due: build_frontend

Feat: 도식화 버전 가져오기 완료
  frontend/.env
  frontend/src/components/canvas/ChatContainer.tsx
Due: build_frontend

Feat: ComponentChain에 UUID 생성 로직 추가
  ai/app/core/llm/chains/component_chain.py
Due: none

Feat: 다이어그램 생성 로직 개선 및 Spring 기반 클래스 다이어그램 요청 지원 추가
  ai/app/core/diagram/component/component_service.py
  ai/app/core/models/diagram_model.py
  ai/app/core/models/user_chat_model.py
  ai/app/core/services/chat_service_facade.py
  ai/app/utils/prompt_builder.py
Due: none

Feat: UserService 및 UserDto 코드와 스키마 예제 업데이트
  ai/app/core/models/diagram_model.py
Due: none

fix:아키텍처 구조도 저장 오류 해결
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/LoadingOverlay.tsx
  frontend/src/components/globalsetting/Sidebar.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/header/globalheader.tsx
  frontend/src/components/header/header.tsx
Due: build_frontend

Fix: API 제작 style
  frontend/src/app/api/api-specs/[apiSpecVersionId]/route.ts
  frontend/src/app/api/api-specs/api/[apiSpecId]/route.ts
  frontend/src/app/api/api-specs/by-project/[scrudProjectId]/route.ts
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/right-container/ApiHeader.tsx
  frontend/src/components/api-creator/right-container/hooks/useNotification.ts
  frontend/src/components/api-creator/right-container/types.ts
  frontend/src/components/project-card/project-card.tsx
Due: build_frontend

Feat: 게시글 삭제 시 사용자 ID 처리 및 연관 엔티티 삭제 로직 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Post.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/PostController.java
Due: build_backend

Feat: 게시글 삭제 시 사용자 ID 처리 및 연관 엔티티 삭제 로직 추가
  frontend/src/app/api/feedback/[id]/route.ts
  frontend/src/components/feedback/detail/FeedbackActions.tsx
  frontend/src/components/feedback/detail/FeedbackDetail.tsx
Due: build_frontend

Fix: yaml
  docs/output/openapi/openapi.yaml
Due: none

Feat: 콘솔 추가
  frontend/.env
  frontend/src/app/api/chat/[projectId]/[apiId]/route.ts
  frontend/src/app/api/sse/connect/[sseId]/route.ts
  frontend/src/components/canvas/ChatContainer.tsx
Due: build_frontend

Fix: api-creator 관련 axios 요청 headers 추가
  frontend/src/app/api/api-specs/[apiSpecVersionId]/route.ts
  frontend/src/app/api/api-specs/api/[apiSpecId]/route.ts
  frontend/src/app/api/api-specs/by-project/[scrudProjectId]/route.ts
  frontend/src/app/api/api-specs/route.ts
Due: build_frontend

Fix:의존성 충돌 해결
  frontend/src/app/api/projects/[projectId]/[globalFileId]/route.ts
  frontend/src/app/api/projects/[projectId]/route.ts
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/DependencySelector.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_frontend

Feat: 디버그용 콘솔 추가
  docs/output/openapi/openapi.yaml
  frontend/.env
Due: build_frontend

Update: Delete Project 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/assembler/ScrudProjectAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/domain/entity/ScrudProject.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/repository/ScrudProjectRepository.java
  docs/components/schemas/scrud-project-dto.yaml
  docs/output/openapi/openapi.yaml
Due: build_backend

Feat: 댓글 및 게시글 삭제 로직 추가 및 삭제 플래그(isDeleted) 관련 기능 구현
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/CommentOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentCreateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Comment.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/exception/PostErrorStatus.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/CommentController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/PostController.java
  docs/components/schemas/comment-schema.yaml
Due: build_backend

Design:CSS 변경
  frontend/src/app/page.tsx
  frontend/src/components/header/apiheader.tsx
  frontend/src/components/project-card/project-card.tsx
Due: build_frontend

Add comment deletion functionality
  frontend/src/app/api/comment/[id]/route.ts
  frontend/src/components/feedback/comment/FeedbackCommentItem.tsx
  frontend/src/lib/comment-api.ts
Due: build_frontend

Refactor: 디버그용 console.log 코드 제거
  frontend/src/lib/comment-api.ts
Due: build_frontend

Feat: 댓글 수정 기능 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/in/UpdateCommentIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Comment.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/CommentController.java
  frontend/src/lib/comment-api.ts
Due: build_backend, build_frontend

Refactor: CommentOut의 변수명 수정 및 CommentGetFacade에 postId 매핑 로직 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/CommentOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentGetFacade.java
Due: build_backend

Feat: 댓글 CRUD 기능 구현 및 구성요소 분리
  frontend/src/app/api/comment/[id]/route.ts
  frontend/src/components/feedback/comment/FeedbackComment.tsx
  frontend/src/components/feedback/comment/FeedbackCommentContent.tsx
  frontend/src/components/feedback/comment/FeedbackCommentDelete.tsx
  frontend/src/components/feedback/comment/FeedbackCommentEdit.tsx
  frontend/src/components/feedback/comment/FeedbackCommentItem.tsx
  frontend/src/components/ui/textarea.tsx
Due: build_frontend

Refactor: LCEL 체인의 불필요한 `RunnablePassthrough` 제거 및 다이어그램 필요 여부 평가 로직 추가
  ai/app/core/llm/chains/component_chain.py
  ai/app/core/llm/chains/connection_chain.py
  ai/app/core/llm/chains/create_diagram_component_chain.py
  ai/app/core/llm/chains/dto_chain.py
  ai/app/core/llm/chains/user_chat_chain.py
Due: none

Feat: 컴포넌트 병합 로직 강화 및 시스템 프롬프트 템플릿 개선
  ai/app/core/llm/prompts/component_prompts.py
Due: none

Refactor: 다이어그램 프롬프트 생성 및 데이터 모델 로직 개선
  ai/app/core/diagram/component/component_service.py
  ai/app/core/llm/chains/user_chat_chain.py
  ai/app/core/llm/prompts/user_chat_prompts.py
  ai/app/core/models/diagram_model.py
  ai/app/core/models/user_chat_model.py
  ai/app/utils/prompt_builder.py
Due: none

Feat: 댓글 추천/비추천 기능 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/assembler/CommentAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/in/CommentVoteIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/CommentVoteOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/CommentService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostEventService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Comment.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/CommentVote.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/exception/PostErrorStatus.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/event/CommentVoteEvent.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/event/PostEventHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/CommentController.java
Due: build_backend

Refactor: BaseException을 ExceptionHandler로 대체하여 예외 처리 로직 개선
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentGetFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/PostAdminFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/CommentService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostEventService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostGetService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/application/service/SpecService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/user/application/service/UserService.java
Due: build_backend

Feat: GlobalExceptionHandler 추가하여 전역 예외 처리 로직 구현
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/common/exception/GlobalExceptionHandler.java
Due: build_backend

Remove: 다이어그램 생성 및 모델 관련 코드 제거
  ai/app/core/generator/diagram_create_generator.py
  ai/app/core/generator/diagram_generator.py
  ai/app/core/generator/model_generator.py
  ai/app/core/prompts/few_shot_prompt_template.py
  ai/tests/unit/test_chat_service.py
Due: none

Feat: 새로운 LLM 모델(OpenAI GPT-4.1, Anthropic Sonnet, Ollama Gemma) 지원 추가
  ai/app/core/llm/base_llm.py
Due: none

Refactor: 불필요한 import 제거 및 prompt 구성 로직 개선
  ai/app/core/llm/chains/component_chain.py
  ai/app/core/llm/chains/connection_chain.py
  ai/app/core/llm/chains/dto_chain.py
Due: none

Feat: Pydantic 모델에 `ConfigDict` 추가 및 불필요한 `import` 정리
  ai/app/infrastructure/http/client/api_client.py
Due: none

Feat: Pydantic 모델에 `ConfigDict` 추가 및 불필요한 `import` 정리
  ai/app/api/chat_routes.py
  ai/app/api/diagram_routes.py
Due: none

Feat: Prompt 템플릿 개선 및 컴포넌트 및 DTO 생성 규칙 추가
  ai/app/core/llm/prompts/component_prompts.py
  ai/app/core/llm/prompts/connection_prompts.py
  ai/app/core/llm/prompts/create_diagram_component_prompt.py
  ai/app/core/llm/prompts/dto_prompts.py
  ai/app/core/llm/prompts/user_chat_prompts.py
  ai/app/utils/prompt_builder.py
Due: none

Refactor: DTO 및 글로벌 설정 모델 필드 초기값 및 설명 개선
  ai/app/core/models/diagram_model.py
  ai/app/core/models/global_setting_model.py
Due: none

Refactor: 불필요한 private 메서드 제거 및 기존 로직을 호출부로 통합하여 가독성 및 유지보수성 개선
  ai/app/core/diagram/component/component_service.py
Due: none

`Feat: 테스트용 HTTP 스크립트에 신규 엔드포인트 추가 및 ID 데이터 업데이트`
  ai/tests/http/chat_route.http
Due: none

Refactor: DTO 생성 메서드에 components 인자 추가 및 글로벌 파일 개수 계산 로직 수정
  ai/app/core/diagram/diagram_facade.py
  ai/app/core/services/chat_service_facade.py
Due: none

Feat: 댓글 목록에 사용자 추천 상태(userVote) 추가 및 관련 로직 구현
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/common/util/SecurityUtil.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/CommentOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentGetFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Comment.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/jpa/CommentVoteJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/CommentController.java
  docs/components/schemas/comment-schema.yaml
Due: build_backend
