Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

build_backend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./backend/generated
  ...

build_frontend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./frontend/generated
  ...

Refactor: 코드 스타일 통일을 위해 들여쓰기 수정 및 불필요한 import 제거
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/PostEventService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Post.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/PostVote.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/event/PostVoteEvent.java
Due: build_backend

Fix: method 색상 추가 변경
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/right-container/ApiForm.tsx
Due: build_frontend

Refactor: 로깅 포맷 개선 및 데이터 모델 Optional 타입으로 변경
  ai/app/api/chat_routes.py
  ai/app/api/diagram_routes.py
  ai/app/infrastructure/http/client/api_client.py
Due: none

Fix:빌드 에러 해결
  docs/output/openapi/openapi.yaml
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/api-creator/file-modal/ArchitectureModal.tsx
  frontend/src/components/api-creator/file-modal/DependencyFileModal.tsx
  frontend/src/components/api-creator/file-modal/FileInputModal.tsx
  frontend/src/components/api-creator/file-modal/SecuritySettingModal.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/DependencySelector.tsx
Due: build_frontend

Fix:의존성 파일 추가 route.ts 함수 수정
  frontend/src/app/api/projects/route.ts
Due: build_frontend

Fix: 전역 폰트 수정
  frontend/public/fonts/Pretendard-Black.woff2
  frontend/public/fonts/Pretendard-Bold.woff2
  frontend/public/fonts/Pretendard-ExtraBold.woff2
  frontend/public/fonts/Pretendard-ExtraLight.woff2
  frontend/public/fonts/Pretendard-Light.woff2
  frontend/public/fonts/Pretendard-Medium.woff2
  frontend/public/fonts/Pretendard-Regular.woff2
  frontend/public/fonts/Pretendard-SemiBold.woff2
  frontend/public/fonts/Pretendard-Thin.woff2
  frontend/src/app/fonts.js
  frontend/src/app/layout.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/tailwind.config.js
Due: build_frontend

Feat: 댓글 생성 기능 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/assembler/CommentAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/in/CreateCommentCommand.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/in/CreateCommentIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentCreateFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/service/CommentService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/exception/PostErrorStatus.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/infrastructure/jpa/CommentJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/CommentController.java
Due: build_backend

Update api_client.py
  ai/app/infrastructure/http/client/api_client.py
Due: none

Feat: 댓글 목록 조회 기능 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/CommentOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/dto/out/GetCommentListOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentGetFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Comment.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/CommentController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/PostController.java
  docs/components/schemas/comment-schema.yaml
  docs/components/schemas/post-schema.yaml
  docs/components/schemas/user-schema.yaml
  docs/output/openapi/openapi.yaml
Due: build_backend

Feat: 댓글 추천/비추천 요청 DTO 추가 및 Controller 메서드 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/CommentController.java
  docs/components/schemas/comment-schema.yaml
  docs/output/openapi/openapi.yaml
Due: build_backend

Feat: css수정
  frontend/src/app/api/canvas/[projectId]/[apiId]/route.ts
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/app/startpage/page.tsx
  frontend/src/components/canvas/ChatContainer.tsx
  frontend/src/components/canvas/DiagramContainer.tsx
  frontend/src/components/canvas/DtoContainer.tsx
  frontend/src/components/canvas/edges/CustomEdge.tsx
  frontend/src/components/canvas/nodes/ClassNode.tsx
  frontend/src/components/canvas/nodes/MethodNode.tsx
Due: build_frontend

FIX: `CommentVote`의 `userId` 제약조건 수정 및 `Comment`의 연관 관계 매핑 필드명 변경
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/Comment.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/domain/entity/CommentVote.java
Due: build_backend

Feat: 도식화 UI/UX 개선
  frontend/.env
Due: build_frontend

Fix: env수정
  frontend/.env
Due: build_frontend

Fix: API 제작 페이지 UI 최적화 중
  frontend/src/app/api/canvas/[projectId]/[apiId]/route.ts
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
Due: build_frontend

Feat: 채팅 컴포넌트 수정중
  frontend/src/components/canvas/nodes/InterfaceNode.tsx
Due: build_frontend

Update: 포팅 메뉴얼, ReadMe 추가
  README.md
  exec/Architecture.png
  exec/README.MD
Due: none

Feat: OAuth2 로그인 성공 시 토큰을 HttpOnly 쿠키에 저장 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/common/util/JWTUtil.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/service/OAuth2AuthenticationSuccessHandler.java
Due: build_backend

Remove: Kafka 관련 Consumer, Producer, DTO, Handler 및 유틸리티 코드 삭제
  ai/app/infrastructure/kafka/__init__.py
  ai/app/infrastructure/kafka/consumer.py
  ai/app/infrastructure/kafka/dto/__init__.py
  ai/app/infrastructure/kafka/dto/diagram_dto.py
  ai/app/infrastructure/kafka/dto/system_chat_dto.py
  ai/app/infrastructure/kafka/dto/user_chat_dto.py
  ai/app/infrastructure/kafka/handler/__init__.py
  ai/app/infrastructure/kafka/handler/handlers.py
  ai/app/infrastructure/kafka/producer.py
  ai/app/infrastructure/kafka/util/__init__.py
  ai/app/infrastructure/kafka/util/deserializer.py
Due: none

Refactor: diagram_routes에서 불필요한 get_chat_service 관련 코드 제거 및 의존성 정리
  ai/app/api/diagram_routes.py
Due: none

Refactor: 불필요한 메서드 및 중복 코드 제거, 로깅 강화
  ai/app/core/services/chat_service.py
Due: none

Feat: 다이어그램 버전 생성 로직 개선 및 로깅 추가
  ai/app/core/generator/diagram_generator.py
  ai/app/core/services/chat_service.py
  ai/app/infrastructure/mongodb/repository/diagram_repository.py
  ai/app/infrastructure/mongodb/repository/diagram_repository_impl.py
Due: none

dasd
  frontend/.env
  frontend/src/app/api/chat/[projectId]/[apiId]/route.ts
Due: build_frontend

Refactor: 불필요한 디버그 로깅 제거 및 코드 가독성 개선
  ai/app/api/chat_routes.py
Due: none

Refactor: 다이어그램 조회 및 메서드 처리 로직 리팩터링
  ai/app/core/services/chat_service.py
Due: none

Feat: 비동기 도식화 생성 메서드 반환값 수정 및 관련 로직 개선
  ai/app/core/services/chat_service.py
Due: none

ff
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/components/canvas/ChatContainer.tsx
Due: build_frontend

Feat: css 수정
  frontend/src/components/canvas/ChatContainer.tsx
  frontend/src/components/canvas/DiagramContainer.tsx
Due: build_frontend

Feat: css 수정중
  frontend/.env
Due: build_frontend

Feat: 새로운 모듈 구조 초기화 파일 추가 (diagram, chat 관련)
  ai/app/core/chat/__init__.py
  ai/app/core/chat/chain/__init__.py
  ai/app/core/chat/prompt/__init__.py
  ai/app/core/chat/template/__init__.py
  ai/app/core/diagram/__init__.py
  ai/app/core/diagram/chain/__init__.py
  ai/app/core/diagram/prompt/__init__.py
  ai/app/core/diagram/template/__init__.py
Due: none

Commit message: Refactor: 디렉토리 구조를 변경하여 prompt 템플릿 관련 파일 경로를 정리
  ai/app/core/chat/prompt/template/__init__.py
  ai/app/core/diagram/prompt/template/__init__.py
  ai/tests/unit/test_chat_service.py
  ai/tests/unit/test_convert_diagram.py
Due: none

Fix: 다이어그램 조회 시 None일 경우 예외 처리 추가
  ai/app/infrastructure/mongodb/repository/diagram_repository_impl.py
Due: none

Feat: 피드백 게시판 및 관련 API 구현
  frontend/src/app/api/feedback/route.ts
  frontend/src/app/feedback/page.tsx
  frontend/src/components/feedback/FeedbackBoard.tsx
  frontend/src/components/feedback/Pagination.tsx
  frontend/src/components/header/header.tsx
  frontend/src/lib/feedback-api.ts
  frontend/src/types/feedback.ts
Due: build_frontend

Feat: API 스키마에 dislikeCount 필드 추가 및 gitignore에 /generated/ 경로 추가
  backend/.gitignore
  docs/components/schemas/post-schema.yaml
  docs/output/openapi/openapi.yaml
Due: build_backend

Feat: 새로운 피드백 작성 페이지 추가 및 프로젝트 관련 코드 리팩토링
  frontend/src/app/api/feedback/[id]/route.ts
  frontend/src/app/feedback/new/page.tsx
  frontend/src/app/page.tsx
  frontend/src/components/feedback/FeedbackBoard.tsx
  frontend/src/lib/feedback-api.ts
Due: build_frontend

Feat: 기본 카테고리 데이터 초기화 스크립트 추가
  backend/ExampleService/src/main/resources/application.yaml
  backend/ExampleService/src/main/resources/sql/defaultCategory.sql
Due: build_backend

Feat: 댓글 API 및 피드백 상세 페이지 추가
  frontend/src/app/api/comment/[id]/route.ts
  frontend/src/app/api/feedback/[id]/route.ts
  frontend/src/app/api/feedback/route.ts
  frontend/src/app/feedback/[id]/page.tsx
  frontend/src/components/feedback/FeedbackDetail.tsx
  frontend/src/lib/comment-api.ts
  frontend/src/lib/feedback-api.ts
Due: build_frontend

Refactor: 사용되지 않는 상태값 및 불필요한 state 로직 주석 처리 및 제거
  frontend/src/components/feedback/FeedbackDetail.tsx
Due: build_frontend

Refactor: FeedbackPageProps 타입 제거 및 searchParams 타입 명시적으로 정의
  frontend/src/app/feedback/page.tsx
  frontend/src/types/feedback.ts
Due: build_frontend

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile
