Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile

Feat: Authorization 헤더 전달을 위한 로직 추가 및 WebClient 메서드 업데이트
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/infrastructure/webclient/ChatWebClient.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/infrastructure/webclient/DiagramWebClient.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/presentation/CanvasController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/presentation/ChatController.java
Due: build_backend

Feat: API 클라이언트 추가 및 모델 정의
  ai/app/infrastructure/http/__init__.py
  ai/app/infrastructure/http/client/__init__.py
  ai/app/infrastructure/http/client/api_client.py
  ai/tests/unit/http/__init__.py
Due: none

Feat: SPRING 서버 설정을 위한 환경 변수 추가
  ai/app/config/config.py
Due: none

Feat: 다이어그램 및 채팅 생성 로직 확장 및 API 스펙 처리 추가
  ai/app/api/chat_routes.py
  ai/app/api/diagram_routes.py
  ai/app/core/generator/diagram_generator.py
  ai/app/core/services/chat_service.py
  ai/app/core/services/diagram_service.py
Due: none

Fix:린트 에러
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/domain/entity/GlobalFile.java
  frontend/.env
Due: build_backend, build_frontend

Fix:빌드 에러 해결
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
Due: build_frontend

Fix:merge 주석 해제
  frontend/.env
Due: build_frontend

fix:주석 해제
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
Due: build_backend

Fix: 다이어그램 서비스 오타 수정 및 불필요한 API 클라이언트 코드 제거
  ai/app/core/generator/diagram_generator.py
  ai/app/core/services/diagram_service.py
Due: none

fix: search api status 정렬 조건 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/querydsl/ApiSpecQueryDsl.java
Due: build_backend

Feat: 메서드 ID 기반 다이어그램 조회 기능 추가 및 관련 로직 개선
  ai/app/core/services/chat_service.py
  ai/app/infrastructure/mongodb/repository/diagram_repository.py
  ai/app/infrastructure/mongodb/repository/diagram_repository_impl.py
Due: none

Fix: 불필요 파일 삭제
  frontend/src/app/store/useApiStore.ts
  frontend/src/app/test/page.tsx
Due: build_frontend

fix: update searchApiStatus method to use ApiProcessStateEnumDto for include parameter
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ScrudApiController.java
  docs/components/schemas/canvas-schema.yaml
Due: build_backend

fix: update searchApiStatus method to use ApiProcessStateEnumDto for exclude parameter
  frontend/src/app/api/canvas-api/[projectId]/route.ts
Due: build_frontend

Feat: 도식화 ui/ux 진행중
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/components/canvas/ChatContainer.tsx
  frontend/src/components/canvas/DiagramContainer.tsx
Due: build_frontend

Refactor: Diagram 서비스 및 생성 로직 개선
  ai/app/core/generator/diagram_generator.py
  ai/app/core/generator/streaming_handler.py
  ai/app/core/services/diagram_service.py
Due: none

Update frontend/.env
  frontend/.env
Due: build_frontend

fix: file 다중 업로드 추가
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_frontend

Fix: API 제작 컴포넌트 CSS 수정
  frontend/src/app/globals.css
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/right-container/ApiHeader.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/project-card/emoji-picker.tsx
  frontend/tailwind.config.js
Due: build_frontend

Refactor : 보안설정 파일 타입 변경
  frontend/src/app/api/projects/route.ts
Due: build_frontend

Fix:빌드 에러 해결
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  frontend/.env
  frontend/src/app/api/projects/[projectId]/route.ts
  frontend/src/app/api/projects/route.ts
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/api-creator/file-modal/ArchitectureModal.tsx
  frontend/src/components/api-creator/file-modal/DependencyFileModal.tsx
  frontend/src/components/api-creator/file-modal/FileInputModal.tsx
  frontend/src/components/api-creator/file-modal/FileUploadSection.tsx
  frontend/src/components/api-creator/file-modal/SecuritySettingModal.tsx
Due: build_backend, build_frontend

Style: 메인 페이지, API 제작 페이지 스타일 수정
  frontend/src/app/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
Due: build_frontend

Refactor: 비동기 호출 방식으로 변경 및 불필요한 코드 제거
  ai/app/core/services/chat_service.py
Due: none

Style: MiddleContainer 높이 수정
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
Due: build_frontend

Feat:api제작 페이지 깃허브 파일 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  frontend/.env
  frontend/src/components/api-creator/file-modal/FileInputModal.tsx
Due: build_backend, build_frontend

Feat: Snowflake ID 생성기 도입 및 ID 생성 방식 변경
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/ApiSpec.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/ApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/github/domain/entity/GithubAccount.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/config/generator/SnowflakeGenerator.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/config/generator/SnowflakeId.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/config/generator/SnowflakeWorker.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/domain/entity/DefaultGlobalFile.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/domain/entity/GlobalFile.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/domain/entity/ScrudProject.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/OperationFieldRule.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/ParameterRule.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/RequestRule.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/ResponseRule.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/ScrudProjectApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/ServiceSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/spec/domain/entity/SpecVersion.java
Due: build_backend

Feat: 다이어그램 생성 규칙 추가 및 설명 보완
  ai/app/core/generator/diagram_generator.py
  ai/app/core/services/diagram_service.py
Due: none

Feat:api 제작 페이지 직접 파일 업로드
  frontend/.env
  frontend/src/components/api-creator/file-modal/FileInputModal.tsx
  frontend/src/components/api-creator/file-modal/FileUploadSection.tsx
Due: build_frontend

Fix:주석해제
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
Due: build_backend

m
  frontend/.env
Due: build_frontend

Feat: API Prompt 저장 기능 추가 및 코드 개선
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/assembler/ApiPromptAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/assembler/ApiSpecAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/in/CreateApiSpecVersionIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiPromptService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/usecase/ApiPromptUseCase.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/ApiPrompt.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/event/ApiSpecEventHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/jpa/ApiPromptJpaRepository.java
Due: build_backend

Update defaultGlobalFile.sql
  backend/ExampleService/src/main/resources/sql/defaultGlobalFile.sql
Due: build_backend

Fix: 테스트 코드 주석처리
  frontend/src/components/api-creator/right-container/ApiHeader.tsx
  frontend/src/components/api-creator/right-container/hooks/useApiSpec.ts
  frontend/src/components/api-creator/right-container/index.tsx
Due: build_frontend

Fix: 그룹 생성 시 path 수정
  frontend/.env
  frontend/src/components/api-creator/MiddleContainer.tsx
Due: build_frontend

Feat: 도식화 ui/ux 개선
  frontend/src/app/api/canvas-api/[projectId]/[apiId]/route.ts
  frontend/src/app/api/canvas-api/[projectId]/route.ts
  frontend/src/app/api/canvas/[projectId]/[apiId]/route.ts
  frontend/src/app/api/chat/[projectId]/[apiId]/route.ts
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/components/api-creator/right-container/ApiHeader.tsx
  frontend/src/components/api-creator/right-container/index.tsx
  frontend/src/components/canvas/ChatContainer.tsx
  frontend/src/components/canvas/DiagramContainer.tsx
  frontend/src/components/canvas/DtoContainer.tsx
  frontend/src/components/header/header.tsx
Due: build_frontend

Feat: SnowflakeWorker의 sequenceBits와 timestamp 처리 임시 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/config/generator/SnowflakeWorker.java
Due: build_backend

Feat:의존성
  frontend/.env
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/file-modal/FileInputModal.tsx
Due: build_frontend

Design:전역 설정 페이지 css
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
Due: build_frontend
