Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

build_backend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./backend/generated
  ...

build_frontend:
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  variables:
    PLATFORM: linux/amd64
  stage: build
  needs:
  - job: prepare_job
  artifacts:
    paths:
    - backend/generated/
    - frontend/generated/
  before_script:
  - ls -la ./frontend/generated
  ...

Fix: Update Authorization header handling to remove unnecessary Bearer prefix
  frontend/src/app/api/api-specs/[apiSpecVersionId]/route.ts
  frontend/src/app/api/api-specs/api/[apiSpecId]/route.ts
  frontend/src/app/api/api-specs/by-project/[scrudProjectId]/route.ts
  frontend/src/app/api/api-specs/route.ts
  frontend/src/app/api/canvas-api/[projectId]/[apiId]/route.ts
  frontend/src/app/api/canvas/[projectId]/[apiId]/[versionId]/route.ts
  frontend/src/app/api/canvas/[projectId]/[apiId]/route.ts
  frontend/src/app/api/chat/[projectId]/[apiId]/route.ts
  frontend/src/app/api/projects/route.ts
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/app/project/[id]/api/page.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/right-container/index.tsx
  frontend/src/components/canvas/ChatContainer.tsx
  frontend/src/components/header/apiheader.tsx
Due: build_frontend

Feat: 다이어그램 생성에 요약 추가 및 ChatSummaryChain 개선
  ai/app/core/diagram/diagram_service.py
  ai/app/core/llm/chains/chat_summary_chain.py
  ai/app/core/services/chat_service_facade.py
Due: none

Feat: 메서드 병합 시 javadocs, 어노테이션, 시그니처, 본문 포함 룰 추가
  ai/app/core/llm/prompts/component_prompts.py
Due: none

Fix: style
  frontend/.env
  frontend/src/components/api-creator/LeftContainer.tsx
Due: build_frontend

Feat: 버전css 수정
  frontend/.env
  frontend/src/components/canvas/ChatContainer.tsx
  frontend/src/components/canvas/DiagramContainer.tsx
Due: build_frontend

feat: .env 수정
  frontend/.env
Due: build_frontend

Feat: 다이어그램 생성 시 summary 기본값 설정 추가
  ai/app/core/diagram/diagram_service.py
Due: none

Fix:chqtting conflict 해결
  frontend/src/components/canvas/ChatContainer.tsx
Due: build_frontend

.env
  frontend/.env
Due: build_frontend

Fix: Github Oauth 수정
  frontend/src/app/page.tsx
  frontend/src/app/store/useAuthStore.ts
  frontend/src/auth/github.ts
Due: build_frontend

Fix: Github Oauth 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/controller/OAuth2Controller.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/service/CustomOAuth2UserService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
Due: build_backend

Fix: dayjs 라이브러리 활용 및 날짜 포맷 업데이트
  frontend/src/app/api/api-specs/[apiSpecVersionId]/route.ts
  frontend/src/components/feedback/detail/FeedbackHeader.tsx
  frontend/src/components/feedback/list/FeedbackListItem.tsx
Due: build_frontend

Feat: KST 변환 유틸 함수 추가 및 적용 - `formatToKST` 함수 추가로 UTC 시간을 KST로 변환. - 기존 컴포넌트에서 `dayjs` 직접 사용 대신 `formatToKST` 함수로 변경.
  frontend/src/components/feedback/detail/FeedbackHeader.tsx
  frontend/src/components/feedback/list/FeedbackListItem.tsx
  frontend/src/util/dayjs.ts
Due: build_frontend

Feat: Card, Input, Select 컴포넌트 추가 및 CodeConventionForm, UtilityClassForm 리팩터링
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/feedback/list/FeedbackBoard.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/FloatingButton.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/globalsetting/LoadingOverlay.tsx
  frontend/src/components/globalsetting/Sidebar.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/DependencySelector.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySelector.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
Due: build_frontend

Feat: Spring Initializr 메타데이터 활용 의존성 관리 기능 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/api/spring/metadata/route.ts
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/tabs.tsx
Due: build_frontend

Refactor: 코드 가독성을 위해 파일 타입별 처리 로직을 메서드로 분리 및 Set 사용으로 기타 정보 처리 개선
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/event/ApiSpecEventHandler.java
Due: build_backend

Refactor form components and enhance input handling.
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_frontend

Refactor: LLMFactory를 활용한 OpenAI 클라이언트 생성 및 메시지 처리 방식 개선
  ai/app/core/generator/api_model_generator.py
  ai/app/core/llm/prompts/create_diagram_component_prompt.py
Due: none

Add 'notice' category to defaultCategory.sql
  backend/ExampleService/src/main/resources/sql/defaultCategory.sql
Due: build_backend

Feat: CSS 수정
  frontend/src/app/api/chat/[projectId]/[apiId]/route.ts
  frontend/src/app/api/comment/[id]/vote/route.ts
  frontend/src/app/api/sse/connect/[sseId]/route.ts
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/components/api-creator/right-container/ApiHeader.tsx
  frontend/src/components/canvas/ChatContainer.tsx
  frontend/src/components/canvas/DiagramContainer.tsx
  frontend/src/components/canvas/nodes/MethodNode.tsx
Due: build_frontend

Remove DependencySelector and improve dependency management
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/DependencySelector.tsx
  frontend/tsconfig.json
Due: build_frontend

Add 'notice' category to feedback system
  frontend/src/app/feedback/new/page.tsx
  frontend/src/components/feedback/detail/FeedbackDetail.tsx
  frontend/src/components/feedback/detail/FeedbackHeader.tsx
  frontend/src/components/feedback/list/FeedbackListItem.tsx
  frontend/src/types/feedback.ts
Due: build_frontend

Feat: PostGetFacade 통합 및 게시글 생성 로직 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/PostFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/PostController.java
Due: build_backend

Add `formatToKST` helper and update date formatting logic
  frontend/src/components/feedback/detail/FeedbackHeader.tsx
  frontend/src/components/feedback/list/FeedbackListItem.tsx
  frontend/src/util/dayjs.ts
Due: build_frontend

Refactor components and enhance error handling
  frontend/src/app/api/comment/[id]/route.ts
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/header/apiheader.tsx
  frontend/tsconfig.json
Due: build_frontend

Refactor: CommentController 및 CommentGetFacade 들여쓰기 및 코드 스타일 정리
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/application/facade/CommentGetFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/post/presentation/CommentController.java
Due: build_backend

Feat: Spring 의존성 파일 관리 기능 및 파일 업로드/삭제 처리 기능 추가
  frontend/src/app/api/comment/[id]/route.ts
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/lib/comment-api.ts
  frontend/src/store/types/project.ts
Due: build_frontend

Refactor: 글로벌 설정 폼에 '.csv' 파일 확장자 추가 및 코드 설명 수정
  frontend/src/app/globalsetting/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_frontend

Feat: 튜토리얼 페이지 및 ImageSlider 컴포넌트 구현
  frontend/public/tutorial/scrud-api-creation.png
  frontend/public/tutorial/scrud-api-creation2.png
  frontend/public/tutorial/scrud-api-visualization.png
  frontend/public/tutorial/scrud-api-visualization2.png
  frontend/public/tutorial/scrud-completion-summary.png
  frontend/public/tutorial/scrud-dashboard-new-project.png
  frontend/public/tutorial/scrud-dashboard-overview.png
  frontend/public/tutorial/scrud-project-config.png
  frontend/public/tutorial/scrud-project-create.png
  frontend/public/tutorial/scrud-spring-code-generation.png
  frontend/public/tutorial/scrud-spring-code-generation2.png
  frontend/public/tutorial/scrud-spring-code-generation3.png
  frontend/public/tutorial/scrud-spring-code-generation4.png
  frontend/src/app/tutorial/page.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/toturial/ImageSlider.tsx
Due: build_frontend

Feat: 이미지 표시 방식 개선 및 문구 수정
  frontend/src/app/tutorial/page.tsx
Due: build_frontend

Feat: 테스트 데이터 추가 기능 구현 (RequirementSpecForm 및 ERDForm)
  frontend/public/data/scrud-erd.txt
  frontend/public/data/scrud-requirements.txt
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
Due: build_frontend

Set revalidation period for Spring metadata fetch
  frontend/src/app/api/spring/metadata/route.ts
Due: build_frontend

Update: 아키텍처 구조도 수정
  exec/Architecture.png
Due: none

Update: Architecture png
  README.md
  exec/Architecture.png
  exec/ArchitecturePng.png
Due: none

Feat: 게시판 요구사항 및 ERD 문서 추가, SCRUD 튜토리얼 이미지 및 텍스트 개선
  frontend/public/data/board_erd.txt
  frontend/public/data/board_requirements.txt
  frontend/public/tutorial/scrud-dashboard-new-project2.png
  frontend/public/tutorial/scrud-project-config.png
  frontend/public/tutorial/scrud-project-config2.png
  frontend/src/app/tutorial/page.tsx
Due: build_frontend

Feat: 게시판 ERD 및 요구사항 파일 경로 수정 및 데이터 교체
  frontend/public/data/board-erd.txt
  frontend/public/data/board-requirements.txt
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
Due: build_frontend

Add placeholders to indicate planned features
  frontend/src/app/tutorial/page.tsx
Due: build_frontend

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile
