Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile

Feat. diagram 관련 api 부분 완성
  ai/app/api/diagram_routes.py
  ai/app/core/services/diagram_service.py
  ai/app/infrastructure/mongodb/repository/diagram_repository.py
  ai/app/infrastructure/mongodb/repository/diagram_repository_impl.py
  ai/tests/http/diagram_route.http
Due: none

Fix. api 엔드 포인트 수정
  ai/tests/http/chat_route.http
  ai/tests/http/diagram_test.http
Due: none

Fix. DTO 수정
  ai/app/api/dto/diagram_dto.py
Due: none

Refactor. 채팅 컨트롤러 리팩토링
  ai/app/api/chat_routes.py
  ai/app/core/services/chat_service.py
  ai/app/core/services/sse_service.py
  ai/app/infrastructure/mongodb/repository/diagram_repository.py
  ai/app/infrastructure/mongodb/repository/diagram_repository_impl.py
Due: none

Refactor. 채팅 컨트롤러 리팩토링
  ai/app/api/chat_routes.py
  ai/app/api/dto/diagram_dto.py
Due: none

Feat: get_prompts 추가
  ai/app/api/chat_routes.py
  ai/app/core/services/chat_service.py
  ai/app/infrastructure/mongodb/repository/chat_repository.py
  ai/app/infrastructure/mongodb/repository/chat_repository_impl.py
Due: none

Test: get_prompts 서비스 코드 테스트 추가
  ai/tests/unit/test_chat_service.py
Due: none

Refactor: 코드 형식 재지정
  ai/app/api/chat_routes.py
  ai/app/api/diagram_routes.py
  ai/app/api/dto/diagram_dto.py
  ai/app/config/config.py
  ai/app/core/generator/api_model_generator.py
  ai/app/core/generator/model_generator.py
  ai/app/core/services/chat_service.py
  ai/app/core/services/diagram_service.py
  ai/app/core/services/sse_service.py
  ai/app/infrastructure/mongodb/connection/connection.py
  ai/app/infrastructure/mongodb/repository/chat_repository.py
  ai/app/infrastructure/mongodb/repository/chat_repository_impl.py
  ai/app/infrastructure/mongodb/repository/diagram_repository.py
  ai/app/infrastructure/mongodb/repository/diagram_repository_impl.py
  ai/app/infrastructure/mongodb/repository/model/diagram_model.py
  ai/app/infrastructure/mongodb/repository/mongo_repository.py
  ai/app/infrastructure/mongodb/repository/mongo_repository_impl.py
  ai/tests/unit/test_chat_service.py
Due: none

Fix: API 제작 페이지
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/service/ScrudProjectServiceImpl.java
  frontend/src/components/api-creator/RightContainer.tsx
Due: build_backend, build_frontend

Feat: 채팅SSE연결 구현중
  frontend/src/app/api/sse/connect/[sseId]/route.ts
  frontend/src/components/canvas/ChatContainer.tsx
Due: build_frontend

Fix: chat type에러 수정
  frontend/src/app/api/sse/connect/[sseId]/route.ts
  frontend/src/components/canvas/ChatContainer.tsx
Due: build_frontend

Fix: api 제작 ing
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/service/ScrudProjectServiceImpl.java
  frontend/src/app/api/api-specs/route.ts
Due: build_backend, build_frontend

Feat:전역 파일 조회
  frontend/src/app/api/projects/[projectId]/[globalFileId]/route.ts
  frontend/src/app/api/projects/[projectId]/route.ts
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
Due: build_frontend

Fix:lint 에러
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/globalsetting/Form.tsx
Due: build_frontend

Docs: 다이어그램 생성 요청 API 제작
  docs/canvasapi.yaml
Due: none

Docs: 다이어그램 생성 요청 API 제작
  docs/canvasapi.yaml
  docs/openapi.yaml
Due: none

Merge: 전역 설정 조회에 globalFileId 가져가게 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/service/OAuth2AuthenticationFailureHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/oauth/service/OAuth2AuthenticationSuccessHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/assembler/ScrudProjectAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/dto/out/GlobalFileOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/presentation/controller/ScrudProjectController.java
  docs/components/schemas/scrud-project-dto.yaml
  docs/openapi.yaml
Due: build_backend

Feat: 임시 코드 생성
  ai/app/core/services/diagram_service.py
Due: none

Fix. google oauth url ì 수정 & env udpate
  frontend/.env
  frontend/src/app/utils/auth.ts
Due: build_frontend

Docs. 메서드 주석
  ai/app/core/services/chat_service.py
Due: none

Fix:전역 설정 조회 무한 호출 해결
  frontend/src/app/api/projects/route.ts
  frontend/src/components/api-creator/LeftContainer.tsx
Due: build_frontend

Fix:Lint 에러 해결
  frontend/src/app/api/projects/route.ts
  frontend/src/components/api-creator/LeftContainer.tsx
Due: build_frontend

Feat. temp
  ai/app/core/services/chat_service.py
Due: none

Fix: 프로젝트 - API 제작 연결 성공
  frontend/src/app/page.tsx
  frontend/src/app/project/[id]/api/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/RightContainer.tsx
  frontend/src/components/api-creator/VersionContainer.tsx
  frontend/src/components/api-creator/right-container/ApiForm.tsx
  frontend/src/components/api-creator/right-container/ApiHeader.tsx
  frontend/src/components/api-creator/right-container/ApiResponse.tsx
  frontend/src/components/api-creator/right-container/LoadingIndicator.tsx
  frontend/src/components/api-creator/right-container/hooks/useApiSpec.ts
  frontend/src/components/api-creator/right-container/hooks/useNotification.ts
  frontend/src/components/api-creator/right-container/index.tsx
  frontend/src/components/api-creator/right-container/tabs/BodyTab.tsx
  frontend/src/components/api-creator/right-container/tabs/PathParamsTab.tsx
  frontend/src/components/api-creator/right-container/tabs/QueryParamsTab.tsx
  frontend/src/components/api-creator/right-container/tabs/ResponseTab.tsx
  frontend/src/components/api-creator/right-container/types.ts
  frontend/src/components/header/header.tsx
  frontend/src/components/header/index.ts
Due: build_frontend

Feat. chat 완료
  ai/app/core/services/chat_service.py
  ai/app/core/services/diagram_service.py
  ai/tests/http/diagram_route.http
Due: none

Feat: defaultGlobalFile 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/domain/entity/DefaultGlobalFile.java
  backend/ExampleService/src/main/resources/application.yaml
  backend/ExampleService/src/main/resources/sql/defaultGlobalFile.sql
  docs/components/schemas/scrud-project-dto.yaml
Due: build_backend

Feat:전역 파일 삭제+레이아웃 일부 수정
  frontend/.env
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/Sidebar.tsx
Due: build_frontend

tomerge
  docs/components/schemas/scrud-project-dto.yaml
  frontend/.env
Due: build_frontend

Feat. create 완료
  ai/CLAUDE.md
  ai/app/core/services/diagram_service.py
Due: none

Feat: Controller 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/presentation/CanvasController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/presentation/ChatController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/presentation/DiagramController.java
Due: build_backend

feature: api spec status 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/assembler/ApiSpecAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/out/ApiSpecVersionOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/LatestEndpointVersionService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/ApiSpec.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/enums/ApiSpecStatus.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/jpa/ApiSpecJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/jpa/LatestEndpointVersionJpaRepository.java
Due: build_backend

Feature: api spec response 수정
  docs/components/schemas/api-spec-schema.yaml
Due: none

Fix: API 제작 페이지 수정
  frontend/src/app/project/[id]/api/page.tsx
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/header/header.tsx
Due: build_frontend

Fix: 웹 클라이언트 타임아웃 값 변경
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/config/webClient/WebClientConfig.java
Due: build_backend

Feat: 스프링 웹 클라이언트 연결
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/infrastructure/webclient/ComponentWebClient.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/infrastructure/webclient/DiagramWebClient.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/presentation/CanvasController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/presentation/ChatController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/presentation/DiagramController.java
Due: build_backend

Feat: 스프링 웹 클라이언트 연결
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/infrastructure/webclient/ChatWebClient.java
Due: build_backend

Refactor:전역 설정 입력 폼 컴포넌트 분리
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/CodeConventionForm.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/DependencyFileForm.tsx
  frontend/src/components/globalsetting/ERDForm.tsx
  frontend/src/components/globalsetting/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/Form.tsx
  frontend/src/components/globalsetting/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/UtilityClassForm.tsx
Due: build_frontend

Feat. SSE 추가
  .gitignore
  ai/tests/http/chat_route.http
  ai/tests/http/diagram_route.http
  backend/CLAUDE.md
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/infrastructure/webclient/ChatWebClient.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/presentation/ChatController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/sse/service/SseEmitterService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/sse/service/SseEmitterServiceImpl.java
  backend/ExampleService/src/main/resources/application.yaml
Due: build_backend

Docs. URL 누락 추가
  docs/openapi.yaml
Due: none
