Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: prepare_job, build_backend, build_frontend, build_ai

Path conditions:
  prepare_job: any of: backend/**/*, frontend/**/*
  build_backend: any of: backend/**/*
  build_frontend: any of: frontend/**/*
  build_ai: any of: ai/**/*

Add admin pages for API prompts
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/ApiPrompt.java
  frontend/src/app/admin/api-prompts/[id]/page.tsx
  frontend/src/app/admin/api-prompts/loading.tsx
  frontend/src/app/admin/api-prompts/page.tsx
  frontend/src/app/admin/page.tsx
  frontend/src/app/api/admin/api-prompts/[id]/route.ts
  frontend/src/app/api/admin/api-prompts/route.ts
  frontend/src/app/page.tsx
  frontend/src/components/AuthProvider.tsx
  frontend/src/components/api-creator/right-container/ApiHeader.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
Due: prepare_job, build_backend, build_frontend

Fix: ApiPrompt 엔티티 BaseTimeEntity 상속 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/ApiPrompt.java
Due: prepare_job, build_backend

Feat: API 프롬프트 관리 기능 추가 및 기존 더미 데이터 제거
  backend/ExampleService/src/main/java/com/barcoder/scrud/admin/application/dto/out/ApiPromptListOutDto.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/admin/application/dto/out/ApiPromptOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/admin/application/facade/AdminFacade.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/admin/application/service/ApiPromptService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/admin/infrastructure/jpa/ApiPromptJpaRepository.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/admin/presentation/controller/AdminController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/admin/presentation/dto/response/ApiPromptListResponseDto.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/admin/presentation/dto/response/ApiPromptResponseDto.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiPromptService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/event/ApiSpecEventHandler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/global/common/error/ErrorStatus.java
  frontend/src/app/admin/api-prompts/[id]/page.tsx
  frontend/src/app/admin/api-prompts/page.tsx
  frontend/src/app/api/admin/api-prompts/[id]/route.ts
  frontend/src/app/api/admin/api-prompts/route.ts
Due: prepare_job, build_backend, build_frontend

Fix: GET 함수에서 params 접근 방식 수정 (비동기 지원)
  frontend/src/app/api/admin/api-prompts/[id]/route.ts
Due: prepare_job, build_frontend

f
  README.md
  exec/README.MD
Due: none

Remove secrets from master
  exec/README.MD
Due: none

Remove Anthropic API Key from exec/README.MD
  exec/README.MD
Due: none
