Repository ZenMoom/SCRUD: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_backend, build_frontend

Path conditions:
  build_backend: any of: backend/**/*, infra/dockerfiles/backend.Dockerfile
  build_frontend: any of: frontend/**/*, infra/dockerfiles/frontend.Dockerfile

Feat: WebClient 에러 처리용 ExceptionHandler 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/presentation/CanvasController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/presentation/ChatController.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/diagram/presentation/DiagramController.java
Due: build_backend

Feat: 다이어그램 생성 시 중복 검사 및 예외 처리 추가
  ai/app/api/diagram_routes.py
  ai/app/core/services/diagram_service.py
Due: none

Fix:직접 파일 입력하는 로직 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  frontend/src/app/api/projects/route.ts
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/DependencySelector.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_backend, build_frontend

Fix:선택지로 전역 파일 입력 수정
  frontend/src/app/api/projects/route.ts
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
Due: build_frontend

Fix:선택지 입력 설정
  frontend/src/app/api/projects/route.ts
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_frontend

Fix:보안설정,아키텍처 기본값 설정
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
Due: build_frontend

Fix:깃허브 파일 가져오기(아키텍처 제외)
  frontend/src/app/api/projects/route.ts
  frontend/src/auth/github.ts
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_frontend

Fix: api-header
  frontend/src/auth/github.ts
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/LeftContainer.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/right-container/hooks/useApiSpec.ts
  frontend/src/components/api-creator/right-container/index.tsx
Due: build_frontend

Feat: 도식화, sse 수정 필요
  frontend/.env
Due: build_frontend

Refactor:깃허브 인증 로직 하나로 모았음
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/DependencyFileForm.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_frontend

Fix:깃허브 인증 환경 변수 설정(프론트 .env 추가)
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  frontend/.env
  frontend/src/auth/github.ts
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
Due: build_backend, build_frontend

Fix:타입 일치
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
Due: build_frontend

fix: JSON 출력 형식 설명 개선
  ai/app/core/prompts/api_generate_prompt_template.py
Due: none

Design:아키텍처 구조도 이미지 추가+카드 레이아웃 변경
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/application/service/ScrudProjectServiceImpl.java
  frontend/.env
  frontend/public/clean.png
  frontend/public/hex.png
  frontend/public/layered-a.png
  frontend/public/layered-b.png
  frontend/public/msa.png
  frontend/src/app/globalsetting/page.tsx
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
Due: build_backend, build_frontend

Fix: api-header
  frontend/.env
  frontend/public/logo.png
  frontend/src/app/globals.css
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/project-card/emoji-picker.tsx
Due: build_frontend

Update: front .env
  frontend/.env
Due: build_frontend

Fix: rightcontainer tab 데이터 수정
  frontend/src/components/api-creator/right-container/hooks/useApiSpec.ts
  frontend/src/components/api-creator/right-container/index.tsx
  frontend/src/components/api-creator/right-container/tabs/BodyTab.tsx
  frontend/src/components/api-creator/right-container/tabs/PathParamsTab.tsx
  frontend/src/components/api-creator/right-container/tabs/QueryParamsTab.tsx
  frontend/src/components/api-creator/right-container/tabs/ResponseTab.tsx
Due: build_frontend

Refactor: 불필요한 더미 다이어그램 생성 로직 제거 및 다이어그램 생성 과정 간소화
  ai/app/core/services/diagram_service.py
Due: none

Refactor: 다이어그램 생성 로직 개선 및 타입 힌트 추가
  ai/app/core/services/chat_service.py
  ai/app/infrastructure/mongodb/repository/diagram_repository.py
  ai/app/infrastructure/mongodb/repository/diagram_repository_impl.py
Due: none

Feat: 최신 다이어그램 정보를 활용한 SystemChat 생성 로직 추가
  ai/app/core/services/chat_service.py
Due: none

fix: api spec table 명 수정
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/ApiSpec.java
Due: build_backend

fix: api spec version을 single table 전략으로 변경
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/ApiSpecVersion.java
Due: build_backend

Feat: 도식화 ui/ux 개선
  frontend/next.config.ts
  frontend/src/app/canvas/[projectId]/[apiId]/page.tsx
  frontend/src/components/canvas/ChatContainer.tsx
  frontend/src/components/canvas/DiagramContainer.tsx
  frontend/src/components/canvas/nodes/ClassNode.tsx
  frontend/src/components/canvas/nodes/InterfaceNode.tsx
  frontend/src/components/canvas/nodes/MethodNode.tsx
  frontend/src/components/header/header.tsx
Due: build_frontend

Fix: Zustand Store 상태 관리(API SPEC)
  frontend/.env
  frontend/src/app/store/useApiStore.ts
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/right-container/index.tsx
Due: build_frontend

Fix: 상태관리
  frontend/.env
Due: build_frontend

refactor: api spec version을 하나의 테이블로 변경
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/assembler/ApiSpecVersionAssembler.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/ApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/DeleteApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/GetApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/PatchApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/PostApiSpecVersion.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/entity/PutApiSpecVersion.java
Due: build_backend

Feat:아키텍처 구조도 깃허브 저장
  frontend/.env
  frontend/src/app/api/projects/route.ts
  frontend/src/components/globalsetting/ContentArea.tsx
  frontend/src/components/globalsetting/GitHubRepoBrowser.tsx
  frontend/src/components/globalsetting/form/ArchitectureStructureForm.tsx
  frontend/src/components/globalsetting/form/CodeConventionForm.tsx
  frontend/src/components/globalsetting/form/ERDForm.tsx
  frontend/src/components/globalsetting/form/ErrorCodeForm.tsx
  frontend/src/components/globalsetting/form/RequirementSpecForm.tsx
  frontend/src/components/globalsetting/form/SecuritySettingForm.tsx
  frontend/src/components/globalsetting/form/UtilityClassForm.tsx
Due: build_frontend

fix: api model 타입을 optional로 변경
  ai/app/core/models/api_models.py
Due: none

Fix: 빌드 오류 수정
  frontend/src/components/api-creator/ApiCreator.tsx
Due: build_frontend

Fix: API 제작 페이지 진입 시 무한 루프 수정
  frontend/src/components/api-creator/ApiCreator.tsx
Due: build_frontend

Fix: 무한 루프 수정
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
Due: build_frontend

Feat: 도식화 ui/ux개선
  frontend/src/app/login/page.tsx
Due: build_frontend

Update: Type 변경
  backend/ExampleService/src/main/java/com/barcoder/scrud/scrudproject/domain/entity/GlobalFile.java
Due: build_backend

Fix: 무한 루프로 인한 상태관리 삭제
  frontend/src/components/api-creator/ApiCreator.tsx
  frontend/src/components/api-creator/MiddleContainer.tsx
  frontend/src/components/api-creator/right-container/index.tsx
Due: build_frontend

Fix: 무한루프 오류로 인한 상태관리 삭제
  frontend/src/app/store/useApiStore.ts
Due: build_frontend

Feature: api spec 변경 엔드포인트 추가
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ScrudApiController.java
Due: build_backend

Feature: search api status 기능 구현
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/in/SearchApiStatusIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/dto/out/SearchApiStatusOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/application/service/ApiSpecService.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/query/in/SearchApiStatusQueryIn.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/query/out/PageMetadata.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/domain/query/out/SearchApiStatusQueryOut.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/infrastructure/querydsl/ApiSpecQueryDsl.java
  backend/ExampleService/src/main/java/com/barcoder/scrud/apispec/presentation/ScrudApiController.java
Due: build_backend

Feature: search api status 쿼리 수정
  docs/components/schemas/canvas-schema.yaml
Due: none
